/*
Flaticon icon font: Flaticon
Creation date: 01/11/2017 09:31
*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
  url("./Flaticon.woff") format("woff"),
  url("./Flaticon.ttf") format("truetype"),
  url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-shopping-cart-2:before {
  content: "\f100";
}

.flaticon-logout-or-send-square-with-right-arrow-interface-symbol:before {
  content: "\f101";
}

.flaticon-shopping-cart-empty-side-view:before {
  content: "\f102";
}

.flaticon-shopping-cart-1:before {
  content: "\f103";
}

.flaticon-cart:before {
  content: "\f104";
}

.flaticon-up-arrow:before {
  content: "\f105";
}

.flaticon-interface:before {
  content: "\f106";
}

.flaticon-check:before {
  content: "\f107";
}

.flaticon-left-quote:before {
  content: "\f108";
}

.flaticon-quotes:before {
  content: "\f109";
}

.flaticon-window-with-curtains:before {
  content: "\f10a";
}

.flaticon-window:before {
  content: "\f10b";
}

.flaticon-wind-turbine-outlined-tool:before {
  content: "\f10c";
}

.flaticon-windmill-2:before {
  content: "\f10d";
}

.flaticon-windmill-1:before {
  content: "\f10e";
}

.flaticon-windmill:before {
  content: "\f10f";
}

.flaticon-water-cycle:before {
  content: "\f110";
}

.flaticon-raindrop:before {
  content: "\f111";
}

.flaticon-drop:before {
  content: "\f112";
}

.flaticon-upload-to-cloud:before {
  content: "\f113";
}

.flaticon-unlocked:before {
  content: "\f114";
}

.flaticon-tracker:before {
  content: "\f115";
}

.flaticon-thermostat:before {
  content: "\f116";
}

.flaticon-target-3:before {
  content: "\f117";
}

.flaticon-target-2:before {
  content: "\f118";
}

.flaticon-target-1:before {
  content: "\f119";
}

.flaticon-target:before {
  content: "\f11a";
}

.flaticon-switch:before {
  content: "\f11b";
}

.flaticon-headset-2:before {
  content: "\f11c";
}

.flaticon-headset-1:before {
  content: "\f11d";
}

.flaticon-headset:before {
  content: "\f11e";
}

.flaticon-briefcase:before {
  content: "\f11f";
}

.flaticon-suitcase:before {
  content: "\f120";
}

.flaticon-stopwatch:before {
  content: "\f121";
}

.flaticon-solar-energy-2:before {
  content: "\f122";
}

.flaticon-solar-energy-1:before {
  content: "\f123";
}

.flaticon-solar-panel:before {
  content: "\f124";
}

.flaticon-solar-energy:before {
  content: "\f125";
}

.flaticon-softtware-engineer:before {
  content: "\f126";
}

.flaticon-socket-3:before {
  content: "\f127";
}

.flaticon-socket-2:before {
  content: "\f128";
}

.flaticon-socket-1:before {
  content: "\f129";
}

.flaticon-phone-lock:before {
  content: "\f12a";
}

.flaticon-smartphone-4:before {
  content: "\f12b";
}

.flaticon-smartphone-3:before {
  content: "\f12c";
}

.flaticon-message-on-phone:before {
  content: "\f12d";
}

.flaticon-smartphone-2:before {
  content: "\f12e";
}

.flaticon-smartphone-1:before {
  content: "\f12f";
}

.flaticon-smartphone:before {
  content: "\f130";
}

.flaticon-home-3:before {
  content: "\f131";
}

.flaticon-smart-home-4:before {
  content: "\f132";
}

.flaticon-smart-home-3:before {
  content: "\f133";
}

.flaticon-smart-home-2:before {
  content: "\f134";
}

.flaticon-smart-home-1:before {
  content: "\f135";
}

.flaticon-smart-home:before {
  content: "\f136";
}

.flaticon-shower-2:before {
  content: "\f137";
}

.flaticon-shower-1:before {
  content: "\f138";
}

.flaticon-shower:before {
  content: "\f139";
}

.flaticon-shopping-cart:before {
  content: "\f13a";
}

.flaticon-online-shopping-cart:before {
  content: "\f13b";
}

.flaticon-share-data-signal:before {
  content: "\f13c";
}

.flaticon-share-symbol:before {
  content: "\f13d";
}

.flaticon-tool:before {
  content: "\f13e";
}

.flaticon-settings-2:before {
  content: "\f13f";
}

.flaticon-settings-with-hammer:before {
  content: "\f140";
}

.flaticon-settings-1:before {
  content: "\f141";
}

.flaticon-hidden-camera:before {
  content: "\f142";
}

.flaticon-surveillance-video-camera:before {
  content: "\f143";
}

.flaticon-security-camera-1:before {
  content: "\f144";
}

.flaticon-security-camera:before {
  content: "\f145";
}

.flaticon-search:before {
  content: "\f146";
}

.flaticon-school-maths-calculator:before {
  content: "\f147";
}

.flaticon-rocket:before {
  content: "\f148";
}

.flaticon-rocket-launch:before {
  content: "\f149";
}

.flaticon-retirement:before {
  content: "\f14a";
}

.flaticon-leaf-inside-lightbulb:before {
  content: "\f14b";
}

.flaticon-renewable-energy-1:before {
  content: "\f14c";
}

.flaticon-renewable-energy:before {
  content: "\f14d";
}

.flaticon-remote-control-2:before {
  content: "\f14e";
}

.flaticon-remote-control-1:before {
  content: "\f14f";
}

.flaticon-remote-control:before {
  content: "\f150";
}

.flaticon-garage-2:before {
  content: "\f151";
}

.flaticon-rotate:before {
  content: "\f152";
}

.flaticon-refresh-button:before {
  content: "\f153";
}

.flaticon-power-button-off:before {
  content: "\f154";
}

.flaticon-power:before {
  content: "\f155";
}

.flaticon-ecological-energy-plug-symbol-with-cord-and-a-leaf:before {
  content: "\f156";
}

.flaticon-eco-power:before {
  content: "\f157";
}

.flaticon-eco-energy:before {
  content: "\f158";
}

.flaticon-plug-2:before {
  content: "\f159";
}

.flaticon-socket:before {
  content: "\f15a";
}

.flaticon-plug-1:before {
  content: "\f15b";
}

.flaticon-plug:before {
  content: "\f15c";
}

.flaticon-padlock-1:before {
  content: "\f15d";
}

.flaticon-on-time-support:before {
  content: "\f15e";
}

.flaticon-old-radio-microphone:before {
  content: "\f15f";
}

.flaticon-ring:before {
  content: "\f160";
}

.flaticon-notification-1:before {
  content: "\f161";
}

.flaticon-new-file:before {
  content: "\f162";
}

.flaticon-mouse-peripheral:before {
  content: "\f163";
}

.flaticon-mouse-clicker:before {
  content: "\f164";
}

.flaticon-mouse:before {
  content: "\f165";
}

.flaticon-mouse-settings:before {
  content: "\f166";
}

.flaticon-mechanic-tools:before {
  content: "\f167";
}

.flaticon-decision-making:before {
  content: "\f168";
}

.flaticon-manager:before {
  content: "\f169";
}

.flaticon-laptop-3:before {
  content: "\f16a";
}

.flaticon-laptop-2:before {
  content: "\f16b";
}

.flaticon-laptop-1:before {
  content: "\f16c";
}

.flaticon-laptop:before {
  content: "\f16d";
}

.flaticon-lamp-1:before {
  content: "\f16e";
}

.flaticon-lamp:before {
  content: "\f16f";
}

.flaticon-insurance-2:before {
  content: "\f170";
}

.flaticon-insurance-1:before {
  content: "\f171";
}

.flaticon-idea-2:before {
  content: "\f172";
}

.flaticon-hourglass:before {
  content: "\f173";
}

.flaticon-hood:before {
  content: "\f174";
}

.flaticon-home-2:before {
  content: "\f175";
}

.flaticon-home-lock:before {
  content: "\f176";
}

.flaticon-house-1:before {
  content: "\f177";
}

.flaticon-house-sketch:before {
  content: "\f178";
}

.flaticon-help:before {
  content: "\f179";
}

.flaticon-heater-1:before {
  content: "\f17a";
}

.flaticon-flash:before {
  content: "\f17b";
}

.flaticon-fire-inside-a-home-like-heating-symbol:before {
  content: "\f17c";
}

.flaticon-fingerprint-scan:before {
  content: "\f17d";
}

.flaticon-fingerprint-with-crosshair-focus:before {
  content: "\f17e";
}

.flaticon-fast-forward-square:before {
  content: "\f17f";
}

.flaticon-family-under-a-ceiling-outline:before {
  content: "\f180";
}

.flaticon-family:before {
  content: "\f181";
}

.flaticon-full-screen:before {
  content: "\f182";
}

.flaticon-erase-text:before {
  content: "\f183";
}

.flaticon-email:before {
  content: "\f184";
}

.flaticon-opened-email-envelope:before {
  content: "\f185";
}

.flaticon-elemental-tip:before {
  content: "\f186";
}

.flaticon-electrician:before {
  content: "\f187";
}

.flaticon-electrical-worker:before {
  content: "\f188";
}

.flaticon-discuss-issue:before {
  content: "\f189";
}

.flaticon-direction-1:before {
  content: "\f18a";
}

.flaticon-direction:before {
  content: "\f18b";
}

.flaticon-sign:before {
  content: "\f18c";
}

.flaticon-devices-1:before {
  content: "\f18d";
}

.flaticon-responsive-1:before {
  content: "\f18e";
}

.flaticon-devices:before {
  content: "\f18f";
}

.flaticon-cursor:before {
  content: "\f190";
}

.flaticon-computer-cpu:before {
  content: "\f191";
}

.flaticon-compass-1:before {
  content: "\f192";
}

.flaticon-compass:before {
  content: "\f193";
}

.flaticon-combination:before {
  content: "\f194";
}

.flaticon-cloud-computing:before {
  content: "\f195";
}

.flaticon-24-hour-clock:before {
  content: "\f196";
}

.flaticon-24-hours-2:before {
  content: "\f197";
}

.flaticon-24-hours-1:before {
  content: "\f198";
}

.flaticon-24-hours:before {
  content: "\f199";
}

.flaticon-speech-bubble:before {
  content: "\f19a";
}

.flaticon-chat-1:before {
  content: "\f19b";
}

.flaticon-chat:before {
  content: "\f19c";
}

.flaticon-calendar-3:before {
  content: "\f19d";
}

.flaticon-small-calendar:before {
  content: "\f19e";
}

.flaticon-calendar-2:before {
  content: "\f19f";
}

.flaticon-calendar-1:before {
  content: "\f1a0";
}

.flaticon-calendar:before {
  content: "\f1a1";
}

.flaticon-browser-2:before {
  content: "\f1a2";
}

.flaticon-browser-1:before {
  content: "\f1a3";
}

.flaticon-browser:before {
  content: "\f1a4";
}

.flaticon-blinds:before {
  content: "\f1a5";
}

.flaticon-big-world-globe:before {
  content: "\f1a6";
}

.flaticon-big-trophy:before {
  content: "\f1a7";
}

.flaticon-big-square-play-button:before {
  content: "\f1a8";
}

.flaticon-battery-4:before {
  content: "\f1a9";
}

.flaticon-battery-3:before {
  content: "\f1aa";
}

.flaticon-battery-2:before {
  content: "\f1ab";
}

.flaticon-battery-1:before {
  content: "\f1ac";
}

.flaticon-bell-3:before {
  content: "\f1ad";
}

.flaticon-notification:before {
  content: "\f1ae";
}

.flaticon-battery:before {
  content: "\f1af";
}

.flaticon-battery-warning-1:before {
  content: "\f1b0";
}

.flaticon-battery-warning:before {
  content: "\f1b1";
}

.flaticon-volume:before {
  content: "\f1b2";
}

.flaticon-speaker-2:before {
  content: "\f1b3";
}

.flaticon-speaker-1:before {
  content: "\f1b4";
}

.flaticon-speaker:before {
  content: "\f1b5";
}

.flaticon-armchair:before {
  content: "\f1b6";
}

.flaticon-apple-2:before {
  content: "\f1b7";
}

.flaticon-apple-1:before {
  content: "\f1b8";
}

.flaticon-apple:before {
  content: "\f1b9";
}

.flaticon-apple-black-silhouette-with-a-leaf:before {
  content: "\f1ba";
}

.flaticon-wifi-3:before {
  content: "\f1bb";
}

.flaticon-wifi-2:before {
  content: "\f1bc";
}

.flaticon-wifi-1:before {
  content: "\f1bd";
}

.flaticon-wifi:before {
  content: "\f1be";
}

.flaticon-weather-3:before {
  content: "\f1bf";
}

.flaticon-weather-2:before {
  content: "\f1c0";
}

.flaticon-weather-1:before {
  content: "\f1c1";
}

.flaticon-weather:before {
  content: "\f1c2";
}

.flaticon-umbrella:before {
  content: "\f1c3";
}

.flaticon-shield-2:before {
  content: "\f1c4";
}

.flaticon-shield-1:before {
  content: "\f1c5";
}

.flaticon-shield:before {
  content: "\f1c6";
}

.flaticon-safety-belt:before {
  content: "\f1c7";
}

.flaticon-hand:before {
  content: "\f1c8";
}

.flaticon-security:before {
  content: "\f1c9";
}

.flaticon-password-1:before {
  content: "\f1ca";
}

.flaticon-lock-3:before {
  content: "\f1cb";
}

.flaticon-lock-2:before {
  content: "\f1cc";
}

.flaticon-lock-1:before {
  content: "\f1cd";
}

.flaticon-lock:before {
  content: "\f1ce";
}

.flaticon-padlock:before {
  content: "\f1cf";
}

.flaticon-radiation:before {
  content: "\f1d0";
}

.flaticon-nuclear-energy:before {
  content: "\f1d1";
}

.flaticon-home-with-locked-padlock:before {
  content: "\f1d2";
}

.flaticon-house-with-lock-outline-on-a-circular-black-background:before {
  content: "\f1d3";
}

.flaticon-lock-home:before {
  content: "\f1d4";
}

.flaticon-home-1:before {
  content: "\f1d5";
}

.flaticon-flasher-light:before {
  content: "\f1d6";
}

.flaticon-flasher-1:before {
  content: "\f1d7";
}

.flaticon-flasher:before {
  content: "\f1d8";
}

.flaticon-view:before {
  content: "\f1d9";
}

.flaticon-eye-1:before {
  content: "\f1da";
}

.flaticon-eye:before {
  content: "\f1db";
}

.flaticon-cctv-1:before {
  content: "\f1dc";
}

.flaticon-casino-cctv:before {
  content: "\f1dd";
}

.flaticon-surveillance:before {
  content: "\f1de";
}

.flaticon-cctv:before {
  content: "\f1df";
}

.flaticon-danger:before {
  content: "\f1e0";
}

.flaticon-bell-2:before {
  content: "\f1e1";
}

.flaticon-bell-1:before {
  content: "\f1e2";
}

.flaticon-bell:before {
  content: "\f1e3";
}

.flaticon-music:before {
  content: "\f1e4";
}

.flaticon-alarm:before {
  content: "\f1e5";
}

.flaticon-construction:before {
  content: "\f1e6";
}

.flaticon-home:before {
  content: "\f1e7";
}

.flaticon-stack:before {
  content: "\f1e8";
}

.flaticon-insurance:before {
  content: "\f1e9";
}

.flaticon-house:before {
  content: "\f1ea";
}

.flaticon-password:before {
  content: "\f1eb";
}

.flaticon-flashlight:before {
  content: "\f1ec";
}

.flaticon-garage-1:before {
  content: "\f1ed";
}

.flaticon-car-in-garage:before {
  content: "\f1ee";
}

.flaticon-garage:before {
  content: "\f1ef";
}

.flaticon-eco-bulb:before {
  content: "\f1f0";
}

.flaticon-idea-1:before {
  content: "\f1f1";
}

.flaticon-idea:before {
  content: "\f1f2";
}

.flaticon-light-bulb:before {
  content: "\f1f3";
}

.flaticon-heater:before {
  content: "\f1f4";
}

.flaticon-user-1:before {
  content: "\f1f5";
}

.flaticon-user:before {
  content: "\f1f6";
}

.flaticon-settings:before {
  content: "\f1f7";
}

.flaticon-scroll:before {
  content: "\f1f8";
}

.flaticon-responsive-marketing:before {
  content: "\f1f9";
}

.flaticon-responsive-design-for-different-monitors-formats-and-sizes:before {
  content: "\f1fa";
}

.flaticon-responsive:before {
  content: "\f1fb";
}

.flaticon-refresh:before {
  content: "\f1fc";
}

.flaticon-headphones:before {
  content: "\f1fd";
}

.flaticon-drag-down:before {
  content: "\f1fe";
}

$font-Flaticon-shopping-cart-2: "\f100";
$font-Flaticon-logout-or-send-square-with-right-arrow-interface-symbol: "\f101";
$font-Flaticon-shopping-cart-empty-side-view: "\f102";
$font-Flaticon-shopping-cart-1: "\f103";
$font-Flaticon-cart: "\f104";
$font-Flaticon-up-arrow: "\f105";
$font-Flaticon-interface: "\f106";
$font-Flaticon-check: "\f107";
$font-Flaticon-left-quote: "\f108";
$font-Flaticon-quotes: "\f109";
$font-Flaticon-window-with-curtains: "\f10a";
$font-Flaticon-window: "\f10b";
$font-Flaticon-wind-turbine-outlined-tool: "\f10c";
$font-Flaticon-windmill-2: "\f10d";
$font-Flaticon-windmill-1: "\f10e";
$font-Flaticon-windmill: "\f10f";
$font-Flaticon-water-cycle: "\f110";
$font-Flaticon-raindrop: "\f111";
$font-Flaticon-drop: "\f112";
$font-Flaticon-upload-to-cloud: "\f113";
$font-Flaticon-unlocked: "\f114";
$font-Flaticon-tracker: "\f115";
$font-Flaticon-thermostat: "\f116";
$font-Flaticon-target-3: "\f117";
$font-Flaticon-target-2: "\f118";
$font-Flaticon-target-1: "\f119";
$font-Flaticon-target: "\f11a";
$font-Flaticon-switch: "\f11b";
$font-Flaticon-headset-2: "\f11c";
$font-Flaticon-headset-1: "\f11d";
$font-Flaticon-headset: "\f11e";
$font-Flaticon-briefcase: "\f11f";
$font-Flaticon-suitcase: "\f120";
$font-Flaticon-stopwatch: "\f121";
$font-Flaticon-solar-energy-2: "\f122";
$font-Flaticon-solar-energy-1: "\f123";
$font-Flaticon-solar-panel: "\f124";
$font-Flaticon-solar-energy: "\f125";
$font-Flaticon-softtware-engineer: "\f126";
$font-Flaticon-socket-3: "\f127";
$font-Flaticon-socket-2: "\f128";
$font-Flaticon-socket-1: "\f129";
$font-Flaticon-phone-lock: "\f12a";
$font-Flaticon-smartphone-4: "\f12b";
$font-Flaticon-smartphone-3: "\f12c";
$font-Flaticon-message-on-phone: "\f12d";
$font-Flaticon-smartphone-2: "\f12e";
$font-Flaticon-smartphone-1: "\f12f";
$font-Flaticon-smartphone: "\f130";
$font-Flaticon-home-3: "\f131";
$font-Flaticon-smart-home-4: "\f132";
$font-Flaticon-smart-home-3: "\f133";
$font-Flaticon-smart-home-2: "\f134";
$font-Flaticon-smart-home-1: "\f135";
$font-Flaticon-smart-home: "\f136";
$font-Flaticon-shower-2: "\f137";
$font-Flaticon-shower-1: "\f138";
$font-Flaticon-shower: "\f139";
$font-Flaticon-shopping-cart: "\f13a";
$font-Flaticon-online-shopping-cart: "\f13b";
$font-Flaticon-share-data-signal: "\f13c";
$font-Flaticon-share-symbol: "\f13d";
$font-Flaticon-tool: "\f13e";
$font-Flaticon-settings-2: "\f13f";
$font-Flaticon-settings-with-hammer: "\f140";
$font-Flaticon-settings-1: "\f141";
$font-Flaticon-hidden-camera: "\f142";
$font-Flaticon-surveillance-video-camera: "\f143";
$font-Flaticon-security-camera-1: "\f144";
$font-Flaticon-security-camera: "\f145";
$font-Flaticon-search: "\f146";
$font-Flaticon-school-maths-calculator: "\f147";
$font-Flaticon-rocket: "\f148";
$font-Flaticon-rocket-launch: "\f149";
$font-Flaticon-retirement: "\f14a";
$font-Flaticon-leaf-inside-lightbulb: "\f14b";
$font-Flaticon-renewable-energy-1: "\f14c";
$font-Flaticon-renewable-energy: "\f14d";
$font-Flaticon-remote-control-2: "\f14e";
$font-Flaticon-remote-control-1: "\f14f";
$font-Flaticon-remote-control: "\f150";
$font-Flaticon-garage-2: "\f151";
$font-Flaticon-rotate: "\f152";
$font-Flaticon-refresh-button: "\f153";
$font-Flaticon-power-button-off: "\f154";
$font-Flaticon-power: "\f155";
$font-Flaticon-ecological-energy-plug-symbol-with-cord-and-a-leaf: "\f156";
$font-Flaticon-eco-power: "\f157";
$font-Flaticon-eco-energy: "\f158";
$font-Flaticon-plug-2: "\f159";
$font-Flaticon-socket: "\f15a";
$font-Flaticon-plug-1: "\f15b";
$font-Flaticon-plug: "\f15c";
$font-Flaticon-padlock-1: "\f15d";
$font-Flaticon-on-time-support: "\f15e";
$font-Flaticon-old-radio-microphone: "\f15f";
$font-Flaticon-ring: "\f160";
$font-Flaticon-notification-1: "\f161";
$font-Flaticon-new-file: "\f162";
$font-Flaticon-mouse-peripheral: "\f163";
$font-Flaticon-mouse-clicker: "\f164";
$font-Flaticon-mouse: "\f165";
$font-Flaticon-mouse-settings: "\f166";
$font-Flaticon-mechanic-tools: "\f167";
$font-Flaticon-decision-making: "\f168";
$font-Flaticon-manager: "\f169";
$font-Flaticon-laptop-3: "\f16a";
$font-Flaticon-laptop-2: "\f16b";
$font-Flaticon-laptop-1: "\f16c";
$font-Flaticon-laptop: "\f16d";
$font-Flaticon-lamp-1: "\f16e";
$font-Flaticon-lamp: "\f16f";
$font-Flaticon-insurance-2: "\f170";
$font-Flaticon-insurance-1: "\f171";
$font-Flaticon-idea-2: "\f172";
$font-Flaticon-hourglass: "\f173";
$font-Flaticon-hood: "\f174";
$font-Flaticon-home-2: "\f175";
$font-Flaticon-home-lock: "\f176";
$font-Flaticon-house-1: "\f177";
$font-Flaticon-house-sketch: "\f178";
$font-Flaticon-help: "\f179";
$font-Flaticon-heater-1: "\f17a";
$font-Flaticon-flash: "\f17b";
$font-Flaticon-fire-inside-a-home-like-heating-symbol: "\f17c";
$font-Flaticon-fingerprint-scan: "\f17d";
$font-Flaticon-fingerprint-with-crosshair-focus: "\f17e";
$font-Flaticon-fast-forward-square: "\f17f";
$font-Flaticon-family-under-a-ceiling-outline: "\f180";
$font-Flaticon-family: "\f181";
$font-Flaticon-full-screen: "\f182";
$font-Flaticon-erase-text: "\f183";
$font-Flaticon-email: "\f184";
$font-Flaticon-opened-email-envelope: "\f185";
$font-Flaticon-elemental-tip: "\f186";
$font-Flaticon-electrician: "\f187";
$font-Flaticon-electrical-worker: "\f188";
$font-Flaticon-discuss-issue: "\f189";
$font-Flaticon-direction-1: "\f18a";
$font-Flaticon-direction: "\f18b";
$font-Flaticon-sign: "\f18c";
$font-Flaticon-devices-1: "\f18d";
$font-Flaticon-responsive-1: "\f18e";
$font-Flaticon-devices: "\f18f";
$font-Flaticon-cursor: "\f190";
$font-Flaticon-computer-cpu: "\f191";
$font-Flaticon-compass-1: "\f192";
$font-Flaticon-compass: "\f193";
$font-Flaticon-combination: "\f194";
$font-Flaticon-cloud-computing: "\f195";
$font-Flaticon-24-hour-clock: "\f196";
$font-Flaticon-24-hours-2: "\f197";
$font-Flaticon-24-hours-1: "\f198";
$font-Flaticon-24-hours: "\f199";
$font-Flaticon-speech-bubble: "\f19a";
$font-Flaticon-chat-1: "\f19b";
$font-Flaticon-chat: "\f19c";
$font-Flaticon-calendar-3: "\f19d";
$font-Flaticon-small-calendar: "\f19e";
$font-Flaticon-calendar-2: "\f19f";
$font-Flaticon-calendar-1: "\f1a0";
$font-Flaticon-calendar: "\f1a1";
$font-Flaticon-browser-2: "\f1a2";
$font-Flaticon-browser-1: "\f1a3";
$font-Flaticon-browser: "\f1a4";
$font-Flaticon-blinds: "\f1a5";
$font-Flaticon-big-world-globe: "\f1a6";
$font-Flaticon-big-trophy: "\f1a7";
$font-Flaticon-big-square-play-button: "\f1a8";
$font-Flaticon-battery-4: "\f1a9";
$font-Flaticon-battery-3: "\f1aa";
$font-Flaticon-battery-2: "\f1ab";
$font-Flaticon-battery-1: "\f1ac";
$font-Flaticon-bell-3: "\f1ad";
$font-Flaticon-notification: "\f1ae";
$font-Flaticon-battery: "\f1af";
$font-Flaticon-battery-warning-1: "\f1b0";
$font-Flaticon-battery-warning: "\f1b1";
$font-Flaticon-volume: "\f1b2";
$font-Flaticon-speaker-2: "\f1b3";
$font-Flaticon-speaker-1: "\f1b4";
$font-Flaticon-speaker: "\f1b5";
$font-Flaticon-armchair: "\f1b6";
$font-Flaticon-apple-2: "\f1b7";
$font-Flaticon-apple-1: "\f1b8";
$font-Flaticon-apple: "\f1b9";
$font-Flaticon-apple-black-silhouette-with-a-leaf: "\f1ba";
$font-Flaticon-wifi-3: "\f1bb";
$font-Flaticon-wifi-2: "\f1bc";
$font-Flaticon-wifi-1: "\f1bd";
$font-Flaticon-wifi: "\f1be";
$font-Flaticon-weather-3: "\f1bf";
$font-Flaticon-weather-2: "\f1c0";
$font-Flaticon-weather-1: "\f1c1";
$font-Flaticon-weather: "\f1c2";
$font-Flaticon-umbrella: "\f1c3";
$font-Flaticon-shield-2: "\f1c4";
$font-Flaticon-shield-1: "\f1c5";
$font-Flaticon-shield: "\f1c6";
$font-Flaticon-safety-belt: "\f1c7";
$font-Flaticon-hand: "\f1c8";
$font-Flaticon-security: "\f1c9";
$font-Flaticon-password-1: "\f1ca";
$font-Flaticon-lock-3: "\f1cb";
$font-Flaticon-lock-2: "\f1cc";
$font-Flaticon-lock-1: "\f1cd";
$font-Flaticon-lock: "\f1ce";
$font-Flaticon-padlock: "\f1cf";
$font-Flaticon-radiation: "\f1d0";
$font-Flaticon-nuclear-energy: "\f1d1";
$font-Flaticon-home-with-locked-padlock: "\f1d2";
$font-Flaticon-house-with-lock-outline-on-a-circular-black-background: "\f1d3";
$font-Flaticon-lock-home: "\f1d4";
$font-Flaticon-home-1: "\f1d5";
$font-Flaticon-flasher-light: "\f1d6";
$font-Flaticon-flasher-1: "\f1d7";
$font-Flaticon-flasher: "\f1d8";
$font-Flaticon-view: "\f1d9";
$font-Flaticon-eye-1: "\f1da";
$font-Flaticon-eye: "\f1db";
$font-Flaticon-cctv-1: "\f1dc";
$font-Flaticon-casino-cctv: "\f1dd";
$font-Flaticon-surveillance: "\f1de";
$font-Flaticon-cctv: "\f1df";
$font-Flaticon-danger: "\f1e0";
$font-Flaticon-bell-2: "\f1e1";
$font-Flaticon-bell-1: "\f1e2";
$font-Flaticon-bell: "\f1e3";
$font-Flaticon-music: "\f1e4";
$font-Flaticon-alarm: "\f1e5";
$font-Flaticon-construction: "\f1e6";
$font-Flaticon-home: "\f1e7";
$font-Flaticon-stack: "\f1e8";
$font-Flaticon-insurance: "\f1e9";
$font-Flaticon-house: "\f1ea";
$font-Flaticon-password: "\f1eb";
$font-Flaticon-flashlight: "\f1ec";
$font-Flaticon-garage-1: "\f1ed";
$font-Flaticon-car-in-garage: "\f1ee";
$font-Flaticon-garage: "\f1ef";
$font-Flaticon-eco-bulb: "\f1f0";
$font-Flaticon-idea-1: "\f1f1";
$font-Flaticon-idea: "\f1f2";
$font-Flaticon-light-bulb: "\f1f3";
$font-Flaticon-heater: "\f1f4";
$font-Flaticon-user-1: "\f1f5";
$font-Flaticon-user: "\f1f6";
$font-Flaticon-settings: "\f1f7";
$font-Flaticon-scroll: "\f1f8";
$font-Flaticon-responsive-marketing: "\f1f9";
$font-Flaticon-responsive-design-for-different-monitors-formats-and-sizes: "\f1fa";
$font-Flaticon-responsive: "\f1fb";
$font-Flaticon-refresh: "\f1fc";
$font-Flaticon-headphones: "\f1fd";
$font-Flaticon-drag-down: "\f1fe";