<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

<!-- Main Footer -->
<footer class="main-footer alternate" th:fragment="footer">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section wow fadeInUp">
            <div class="row">
                <div class="big-column col-xl-4 col-lg-3 col-md-12">
                    <div class="footer-column about-widget">
                        <div class="logo"><a href="#"><img alt="Job Match"
                                                           src="../../static/images/logo.svg" th:src="@{/images/logo.svg}"></a></div>
                        <p class="phone-num"><span>Created by </span><a
                                href="https://gitlab.com/group-1-web-project-a43/job-match"
                                th:href="@{https://gitlab.com/group-1-web-project-a43/job-match}">Team 1 - Alpha 43
                            Java</a>
                        </p>
                    </div>
                </div>

                <div class="big-column col-xl-8 col-lg-9 col-md-12">
                    <div class="row">
                        <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4 class="widget-title">For Professionals</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#" th:href="@{/job-openings}">Browse Jobs</a></li>
                                        <li><a href="#" th:href="@{/companies}">Browse Companies</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4 class="widget-title">For Companies</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#" th:href="@{/professionals}">Browse Candidates</a></li>
                                        <li th:unless="${loggedProfessional.isPresent()}">
                                            <a href="#" th:href="@{/professionals/applications}">
                                                Browse Applications
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4 class="widget-title">About Us</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">Deyan Dimitrov</a></li>
                                        <li><a href="#">Milen Mladenov</a></li>
                                        <li><a href="#">Yoan Bozhkov</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4 class="widget-title">Documentation</h4>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#" th:href="@{/swagger-ui/index.html}">Swagger</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="outer-box">
                <div class="copyright-text">© 2022 Job Match</div>
                <div class="social-links">
                    <a href="https://gitlab.com/group-1-web-project-a43/job-match"
                       th:href="@{https://gitlab.com/group-1-web-project-a43/job-match}"><i
                            class="fab fa-gitlab"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scroll To Top -->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
</footer>
<!-- End Main Footer -->

</body>
</html>