<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div th:fragment="header">

    <!-- Main Header-->
    <header class="main-header">

        <!-- Main box -->
        <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
                <div class="logo-box">
                    <div class="logo"><a href="#" th:href="@{/}"><img alt="Job Match"
                                                                      src="../../static/images/logo.svg"
                                                                      th:src="@{/images/logo.svg}"
                                                                      title="Job Match"></a></div>
                </div>

                <nav class="nav main-menu">
                    <ul class="navigation" id="navbar" th:if="${isAuthenticated} and ${loggedUser.isPresent()}">
                        <li>
                            <span><a href="#" th:href="@{/}">Home</a></span>
                        </li>
                        <li>
                            <span><a href="#" th:href="@{/job-openings}">Job Openings</a></span>
                        </li>
                        <li>
                            <span><a href="#" th:href="@{/companies}">Companies</a></span>
                        </li>
                        <li th:unless="${loggedProfessional.isPresent()}">
                            <span><a href="#" th:href="@{/professionals/applications}">Applications</a></span>
                        </li>
                        <li>
                            <span><a href="#" th:href="@{/professionals}">Professionals</a></span>
                        </li>
                    </ul>
                </nav>
                <!-- Main Menu End-->
            </div>


            <div class="dropdown dashboard-option" th:if="${isAuthenticated} and ${loggedProfessional.isPresent()}">
                <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <img alt="avatar" th:if="${loggedProfessional.get().getProfessionalInfo.isPresent()}"
                         class="thumb" src="../../static/images/user-photos/default.png"
                         th:src="${loggedProfessional.get().getProfessionalInfo().get().getPictureUrl()}">

                    <img alt="avatar" th:unless="${loggedProfessional.get().getProfessionalInfo.isPresent()}"
                         class="thumb" src="/images/user-photos/default.png"
                         th:src="@{/images/user-photos/default.png}">
                    <span class="name">My Account</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"
                                          th:href="@{/professionals/{id}/dashboard(id=${loggedProfessional.get().getId()})}"> <i
                            class="la la-home"></i> Dashboard</a></li>

                    <li><a href="#" th:href="@{/professionals/{id}/profile(id=${loggedProfessional.get().getId()})}"><i
                            class="la la-user-tie"></i>My Profile</a></li>

                    <li><a href="#" th:href="@{/professionals/{id}/applications/new(id=${loggedProfessional.get().getId()})}"><i class="la la-paper-plane"></i>Create Application</a></li>
                    <li><a href="#"
                           th:href="@{/professionals/{profId}/applications(profId=${loggedProfessional.get().getId()})}"><i
                            class="la la-file-invoice"></i> My
                        Applications</a></li>
                    <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                </ul>

            </div>

            <div class="dropdown dashboard-option" th:if="${isAuthenticated} and ${loggedCompany.isPresent()}">
                <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <img alt="avatar" th:if="${loggedCompany.get().getCompanyInfo().isPresent()}"
                         class="thumb" src="../../static/images/user-photos/default-company.png"
                         th:src="${loggedCompany.get().getCompanyInfo().get().getPictureUrl()}">
                    <img alt="avatar" th:unless="${loggedCompany.get().getCompanyInfo().isPresent()}"
                         class="thumb" src="../../static/images/user-photos/default-company.png"
                         th:src="@{/images/user-photos/default-company.png}">
                    <span class="name">My Account</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"
                                          th:href="@{/companies/{id}/dashboard(id=${loggedCompany.get().getId()})}"> <i
                            class="la la-home"></i> Dashboard</a></li>

                    <li><a href="#" th:href="@{/companies/{id}/profile(id=${loggedCompany.get().getId()})}"><i
                            class="la la-user-tie"></i>My Profile</a></li>

                    <li><a href="#" th:href="@{/companies/{id}/employees/new(id=${loggedCompany.get().getId()})}"><i
                            class="la la-paper-plane"></i>Create Employee</a></li>

                    <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                </ul>

            </div>

            <div class="dropdown dashboard-option" th:if="${isAuthenticated} and ${loggedEmployee.isPresent()}">
                <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <img alt="avatar" th:if="${loggedEmployee.get().getCompany().getCompanyInfo().isPresent()}"
                         class="thumb" src="../../static/images/user-photos/default-company.png"
                         th:src="${loggedEmployee.get().getCompany().getCompanyInfo().get().getPictureUrl()}">
                    <img alt="avatar" th:unless="${loggedEmployee.get().getCompany().getCompanyInfo().isPresent()}"
                         class="thumb" src="../../static/images/user-photos/default-company.png"
                         th:src="@{/images/user-photos/default-company.png}">
                    <span class="name">My Account</span>
                </a>
                <ul class="dropdown-menu">


                    <li><a href="#" th:href="@{/companies/{id}/employees/{employeeId}/dashboard(id=${loggedEmployee.get().getCompany().getId()},employeeId =${loggedEmployee.get().getId()})}"><i
                            class="la la-home" ></i>Dashboard</a></li>
                    <li><a href="#" th:href="@{/companies/{id}/employees/{empId}/profile(id=${loggedEmployee.get().getCompany().getId()},empId =${loggedEmployee.get().getId()})}"><i
                            class="la la-user-tie"></i>My Profile</a></li>

                    <li><a href="#" th:href="@{/companies/{id}/job-opening/new(id=${loggedEmployee.get().getCompany().getId()})}"><i
                            class="la la-paper-plane"></i>Create Job Opening</a></li>

                    <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>

                </ul>

            </div>

            <div class="outer-box" th:unless="${isAuthenticated} and ${loggedUser.isPresent()}">
                <!-- Add Listing -->
                <!--                <a href="ProfessionalUpdateApplicationView.html" class="upload-cv">Create Application</a>-->
                <!-- Login/Register -->
                <div class="btn-box">
                    <a class="theme-btn btn-style-one" href="#"
                       th:href="@{/auth/login-professionals}">Professional Login</a>
                    <a class="theme-btn btn-style-three" href="#"
                       th:href="@{/auth/login-employees}">Company Login</a>
                </div>
            </div>
        </div>

        <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="logo"><a href="#" th:href="@{/}"><img alt="Job Match"
                                                              src="../../static/images/logo.svg"
                                                              th:src="@{/images/logo.svg}"
                                                              title="Job Match"></a></div>

            <!--Nav Box-->
            <div class="nav-outer clearfix">

                <div class="outer-box">
                    <!-- Login/Register -->
                    <div class="login-box">
                        <a class="call-modal" href="#" th:href="@{/auth/login}"><span class="icon-user"></span></a>
                    </div>

                    <a class="mobile-nav-toggler" href="#nav-mobile"><span class="flaticon-menu-1"></span></a>
                </div>
            </div>
        </div>

        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

</div>
</body>
</html>