<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="resources">
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">


    <link href="../../static/images/favicon.png" rel="shortcut icon" th:href="@{/images/favicon.png}"
          type="image/x-icon">
    <link href="../../static/images/favicon.png" rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">

    <!-- Responsive -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <!--[if lt IE 9]>
    <script src="../../static/https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"
            th:src="@{/https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js}"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="../../static/js/respond.js" th:src="@{/js/respond.js}"></script><![endif]-->
</head>
<body>

</body>
</html>