<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Applications</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!--Page Title-->
    <section class="page-title">
        <div class="auto-container">
            <div class="title-outer">
                <h1>Showing All Applications</h1>
                <ul class="page-breadcrumb">
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li>Applications</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Listing Section -->
    <section class="ls-section">
        <div class="auto-container">
            <div class="filters-backdrop"></div>

            <div class="row">

                <!-- Filters Column -->
                <div class="filters-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="filters-outer">
                            <button class="theme-btn close-filters" type="button">X</button>
                            <form class="default-form" action="#"
                                  th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${appsFilterForm}"
                                  method="post" >
                                <!-- Filter Block -->
                                <div class="filter-block">
                                    <h4>Search Active Applications</h4>
                                    <div class="form-group">
                                        <input name="name" th:field="*{name}"
                                               placeholder="Application name"
                                               type="text">
                                    </div>
                                </div>

                                <!-- Filter Block -->
                                <div class="filter-block">
                                    <div class="form-group">
                                        <input name="name" th:field="*{description}"
                                               placeholder="Description"
                                               type="text">
                                    </div>
                                </div>

                                <!-- Filter Block -->
                                <div class="filter-block">
                                    <h4>Locations</h4>
                                    <div class="form-group">
                                        <select class="chosen-select" th:field="*{location}">
                                            <option selected th:value="null">You may select a location</option>
                                            <option th:each="location1 : ${locations}" th:value="${location1.getId()}"
                                                    th:text="${location1.toString()}"></option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Filter Block -->
                                <div class="filter-block">
                                    <div class="form-group">
                                        <input name="name" th:field="*{minSalary}"
                                               placeholder="Minimum salary"
                                               type="number">
                                    </div>
                                </div>

                                <div class="filter-block">
                                    <div class="form-group">
                                        <input name="name" th:field="*{maxSalary}"
                                               placeholder="Maximum salary"
                                               type="number">
                                    </div>
                                </div>

                                <div class="filter-block">
                                    <h4>Sort By</h4>
                                    <div class="form-group">
                                        <select class="chosen-select" th:field="*{sortBy}">
                                            <option selected th:value="'name'" th:text="'Name'"></option>
                                            <option th:value="'minsalary'" th:text="'Min Salary'"></option>
                                            <option th:value="'maxsalary'" th:text="'Max Salary'"></option>
                                            <option th:value="'location'" th:text="'Location'"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="filter-block">
                                    <h4>Sort Order</h4>
                                    <div class="form-group">
                                        <select class="chosen-select" th:field="*{sortOrder}">
                                            <option th:value="asc" th:text="'Ascending'">Sort By</option>
                                            <option selected th:value="desc" th:text="'Descending'"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12">
                                    <button type="submit" class="theme-btn btn-style-one" >Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="ls-outer">
                        <button class="theme-btn btn-style-two toggle-filters" type="button">Show Filters</button>

                        <!-- ls Switcher -->

                        <!-- Candidate block three -->
                        <div class="candidate-block-three" th:each="app : ${applications}">
                            <div class="inner-box">
                                <div class="content">
                                    <figure class="image" th:if="${app.getProfessional().getProfessionalInfo().isPresent()}">
                                        <img alt="photo"
                                             src="../static/images/user-photos/default.png" th:src="${app.getProfessional().getProfessionalInfo().get().getPictureUrl()}">
                                    </figure>
                                    <figure class="image" th:unless="${app.getProfessional().getProfessionalInfo().isPresent()}">
                                        <img alt="photo"
                                             src="../static/images/user-photos/default.png" th:src="@{/images/user-photos/default.png}">
                                    </figure>
                                    <h4 class="name">
                                        <a th:text="${app.getProfessional().getFirstName() + ' ' + app.getProfessional().getLastName()}"
                                        >Professional Name</a>
                                    </h4>
                                    <ul class="candidate-info">
                                        <li class="designation"
                                            th:text="${app.getName()}">Main Application
                                            Name
                                        </li>
                                        <li><span class="icon flaticon-map-locator"></span>
                                            <th:block th:if="${app.isRemote()}"> Remote</th:block>
                                            <th:block th:unless="${app.isRemote()}"
                                                      th:text="${app.getLocation().toString()}">
                                                Location
                                            </th:block>
                                        </li>
                                        <li><span class="icon flaticon-money"></span>
                                            <th:block
                                                    th:text="'$' + ${app.getMinSalary()} + ' - ' + '$' + ${app.getMaxSalary()}">
                                                Salary
                                            </th:block>
                                        </li>
                                    </ul>
                                    <ul class="post-tags">
                                        <li th:if="${app.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).ACTIVE}">Active</li>
                                        <li th:if="${app.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).HIDDEN}">Hidden</li>
                                        <li th:if="${app.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).PRIVATE}">Private</li>
                                        <li th:if="${app.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).MATCHED}">Matched</li>
                                    </ul>
                                </div>
                                <div class="btn-box">
                                    <a class="theme-btn btn-style-three" href="#"
                                       th:href="@{/professionals/{profId}/applications/{appId} (profId=${app.getProfessional().getId()}, appId=${app.getId()})}">
                                        <span
                                                class="btn-title">View Application
                                        </span></a>
                                </div>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <nav class="ls-pagination">
                            <ul>
                                <li class="prev"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                <li><a class="current-page"  href="#">1</a></li>
                                <li class="next"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Listing Page Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>

</html>