<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Application</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Candidate Detail Section -->
    <section class="candidate-detail-section">
        <div class="candidate-detail-outer">
            <div class="auto-container">
                <div class="row">
                    <div class="content-column col-lg-8 col-md-12 col-sm-12">
                        <!-- Candidate block Five -->
                        <div class="candidate-block-five">
                            <div class="inner-box">
                                <div class="content">
                                    <figure class="image" th:if="${applicationsingle.getProfessional().getProfessionalInfo().isPresent()}">
                                        <img src="../static/images/user-photos/default.png"
                                             th:src="${applicationsingle.professional.getProfessionalInfo().get().getPictureUrl()}" alt="photo">
                                    </figure>
                                    <figure class="image" th:unless="${applicationsingle.getProfessional().getProfessionalInfo().isPresent()}">
                                        <img src="../static/images/user-photos/default.png"
                                             th:src="@{/images/user-photos/default.png}" alt="photo">
                                    </figure>
                                    <h4 class="name">
                                        <a th:text="${applicationsingle.professional.getFirstName()} + ' ' + ${applicationsingle.professional.getLastName()}" href="#"
                                           th:href="@{/professionals/{id}(id=${applicationsingle.professional.getId()})}">Professional Name</a></h4>
                                    <ul class="candidate-info">
                                        <li class="designation" th:text="${applicationsingle.getName()}">Application Name</li>
                                        <li><span class="icon flaticon-map-locator"></span>
                                            <th:block th:if="${applicationsingle.isRemote()}"> Remote</th:block>
                                            <th:block th:unless="${applicationsingle.isRemote()}"
                                                      th:text="${applicationsingle.getLocation().toString()}">
                                                Location
                                            </th:block>
                                        </li>
                                        <li><span class="icon flaticon-money"></span>
                                            <th:block
                                                    th:text="'$' + ${applicationsingle.getMinSalary()} + ' - ' + '$' + ${applicationsingle.getMaxSalary()}">
                                                Salary
                                            </th:block>
                                        </li>
                                    </ul>
                                    <ul class="post-tags">
                                        <li th:if="${applicationsingle.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).ACTIVE}">Active</li>
                                        <li th:if="${applicationsingle.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).HIDDEN}">Hidden</li>
                                        <li th:if="${applicationsingle.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).PRIVATE}">Private</li>
                                        <li th:if="${applicationsingle.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).MATCHED}">Matched</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="job-detail">
                            <h4>Motivation</h4>
                            <p th:text="${applicationsingle.getDescription()}">Description</p>
                            <h4>Skills</h4>
                            <ul class="list-style-three">
                                <li th:each="skill : ${applicationsingle.getSkillSet()}">
                                    <th:block th:text="${skill.getKey()} + ' (' + ${skill.getValue()} + ')'">
                                        skill - level
                                    </th:block>
                                </li>
                            </ul>
                                <form class="default-form"  action="#"
                                      th:if="${loggedProfessional.isPresent()} and ${applicationsingle.getProfessional()} == ${loggedProfessional.get()}"
                                      th:action="@{__${#httpServletRequest.requestURI}__/add-skills}"
                                      th:object="${form}" method="post">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Add or change existing skill</label>
                                            <select class="chosen-select" th:field="*{skill}">
                                                <option th:each="skill1 : ${skills}" th:value="${skill1}"
                                                        th:text="${skill1}"></option>
                                            </select>
                                            <label class="error" th:errors="*{skill}">Title error placeholder</label>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Skill Level</label>
                                            <select class="chosen-select" th:field="*{level}">
                                                <option th:each="skillLevel : ${T(com.example.jobmatch.enums.SkillLevel).values()}"
                                                        th:value="${skillLevel}" th:text="${skillLevel}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12">
                                            <button type="submit" class="theme-btn btn-style-one">Update</button>
                                        </div>
                                    </div>
                                </form>
                                <br/>
                                <form class="default-form" action="#"
                                      th:if="${loggedProfessional.isPresent()} and ${applicationsingle.getProfessional()} == ${loggedProfessional.get()}"
                                      th:action="@{__${#httpServletRequest.requestURI}__/remove-skills}"
                                      th:object="${skillRemove}" method="post">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Remove existing skill</label>
                                            <select class="chosen-select" th:field="*{skillName}">
                                                <option th:each="skill2 : ${applicationsingle.getSkillSet().keySet()}"
                                                        th:value="${skill2.getSkillName()}"
                                                        th:text="${skill2.getSkillName()}"></option>
                                            </select>
                                            <label class="error" th:errors="*{skillName}">Title error
                                                placeholder</label>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12">
                                            <button type="submit" class="theme-btn btn-style-one">Update</button>
                                        </div>
                                    </div>
                                </form>

                        </div>
                    </div>

                    <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar">
                            <div class="sidebar-widget">
                                <div class="widget-content">
                                    <ul class="job-overview">
                                        <li>
                                            <i class="icon icon-location"></i>
                                            <h5>Location:</h5>
                                            <span th:if="${applicationsingle.isRemote()}"> Remote</span>
                                            <span th:unless="${applicationsingle.isRemote()}"
                                                  th:text="${applicationsingle.getLocation().toString()}">
                                                Location
                                            </span>
                                        </li>

                                        <li>
                                            <i class="icon icon-salary"></i>
                                            <h5>Expected Salary:</h5>
                                            <span th:text="'$' + ${applicationsingle.getMinSalary()} + ' - ' + '$' + ${applicationsingle.getMaxSalary()}">26K - 30K</span>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <div class="sidebar-widget" th:if="${loggedProfessional.isPresent()}
                                        and ${loggedProfessional.get().equals(applicationsingle.getProfessional())}
                                        and ${applicationsingle.getApplicationStatus()} != ${T(com.example.jobmatch.enums.ApplicationStatus).MATCHED}">
                                <h6 class="widget-title">Potential Matches</h6>

                                        <form class="default-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__/potential-matches}"
                                              th:object="${thresholdForm}" method="post">

                                            <div class="filter-block">
                                                <i class="icon icon-salary"></i>
                                                <h6>Salary Threshold</h6>
                                                <div class="form-group">
                                                    <input name="name" th:field="*{salaryThreshold}"
                                                           placeholder="Salary Threshold %"
                                                           type="number">
                                                </div>
                                                <label class="error" th:errors="*{salaryThreshold}">Title error placeholder</label>
                                            </div>

                                            <div class="filter-block">
                                                <i class="icon skills-percentage"></i>
                                                <h6>Skill Threshold</h6>
                                                <div class="form-group">
                                                    <input name="name" th:field="*{skillThreshold}"
                                                           placeholder="Skill Threshold #"
                                                           type="number">
                                                </div>
                                                <label class="error" th:errors="*{skillThreshold}">Title error placeholder</label>
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12">
                                                <button type="submit" class="theme-btn btn-style-one">Search for Potential Matches</button>
                                            </div>
                                        </form>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End candidate Detail Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>
