<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Profile Update</title>
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/companies/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i class="la la-home"></i> Dashboard</a></li>
                <li class="active"><a href="#" th:href="@{/companies/{id}/profile(id=${loggedUser.get().getId()})}"><i class="la la-user-tie"></i>Company Profile</a>
                </li>
                <li><a href="#" th:href="@{/companies/{id}/employees(id=${loggedUser.get().getId()})}"><i class="la la-briefcase"></i>View Employees </a></li>
                <li ><a href="#" th:href="@{/companies/{id}/employees/new(id=${loggedUser.get().getId()})}"><i class="la la-paper-plane"></i> Create New Employee</a>
                </li>
                <li><a href="#" th:href="@{/companies/{id}/change-password(id=${loggedUser.get().getId()})}"><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Company Profile!</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>My Profile</h4>
                            </div>

                            <div class="widget-content">

                                <div class="uploading-outer">
                                    <div class="uploadButton">
                                        <input accept="image/*, application/pdf" class="uploadButton-input" id="upload"
                                               multiple name="attachments[]" type="file"/>
                                        <label class="uploadButton-button ripple-effect" for="upload">Browse
                                            Logo</label>
                                        <span class="uploadButton-file-name"></span>
                                    </div>
                                    <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable
                                        files are .jpg & .png
                                    </div>
                                </div>


                                <form class="default-form" th:object="${companyProfile}" action ="#"
                                      th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
                                    <div class="row">
                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Company name</label>
                                            <input name="name" placeholder="Invisionn" th:field="*{name}"type="text">
                                            <label class="error" th:errors="*{name}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Email address</label>
                                            <input name="name" placeholder="creativelayers" th:field="*{email}" type="text">
                                            <label class="error" th:errors="*{email}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12" th:object="${companyInfo}">
                                            <label>Contact</label>
                                            <input name="name" placeholder="0 123 456 7890"  th:field="*{contacts}" type="text">
                                            <label class="error" th:errors="*{contacts}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12" th:object="${companyInfo}">
                                            <label>City</label>
                                            <select class="chosen-select" th:field="*{location}">
                                                <option th:each="location1 : ${locations}" th:value="${location1.id}"
                                                        th:text="${location1.toString()}"></option>
                                            </select>
                                            <label class="error" th:errors="*{location}">Title error placeholder</label>
                                        </div>

                                        <!-- About Professional -->
                                        <div class="form-group col-lg-12 col-md-12" th:object="${companyInfo}">
                                            <label>Description</label>
                                            <textarea class="form-control"
                                                      placeholder=""  th:field="*{description}"></textarea>
                                            <label class="error" th:errors="*{description}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12" style="padding-top: 37px">
                                            <button class="theme-btn btn-style-one" type="submit">Update profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>