<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Company Profile</title>
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/companies/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i class="la la-home"></i> Dashboard</a></li>
                <li class="active"><a href="#"><i class="la la-user-tie"></i>Company Profile</a>
                </li>
                <li><a href="#" th:href="@{/companies/{id}/employees(id=${loggedUser.get().getId()})}"><i class="la la-briefcase"></i>View Employees </a></li>
                <li ><a href="#" th:href="@{/companies/{id}/employees/new(id=${loggedUser.get().getId()})}"><i class="la la-paper-plane"></i> Create New Employee</a>
                </li>
                <li><a href="#" th:href="@{/companies/{id}/change-password(id=${loggedUser.get().getId()})}"><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Company Profile!</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <br/>
                            <div class="widget-content">
                                <div class="candidate-block-five">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image" th:if="${company.getCompanyInfo().isPresent()}">
                                                <img src="../static/images/user-photos/default-company.png"
                                                     th:src="${company.getCompanyInfo().get().getPictureUrl()}" alt="logo">
                                            </figure>
                                            <figure class="image" th:unless="${company.getCompanyInfo().isPresent()}">
                                                <img src="../static/images/user-photos/default-company.png"
                                                     th:src="@{/images/user-photos/default-company.png}" alt="logo">
                                            </figure>
                                            <h4 class="name"
                                                th:text="${company.getName()}">
                                                Company Name
                                            </h4>
                                            <ul class="candidate-info">
                                                <li><span class="icon flaticon-map-locator"></span>
                                                    <th:block th:if="${company.getCompanyInfo().isPresent()}"
                                                            th:text="${company.companyInfo.get().getLocation().toString()}">
                                                        Location
                                                    </th:block>
                                                    <th:block th:unless="${company.getCompanyInfo().isPresent()}"
                                                              th:text="'Location not set yet'">
                                                        Location
                                                    </th:block>
                                                </li>
                                                <li><span class="icon flaticon-email-3"></span>
                                                    <th:block
                                                            th:text="${company.getEmail()}">
                                                        Email
                                                    </th:block>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-detail">
                                    <h4>About Company</h4>
                                    <p th:if="${company.getCompanyInfo().isPresent()}"
                                       th:text="${company.getCompanyInfo().get().getDescription()}">Description</p>
                                    <p th:unless="${company.getCompanyInfo().isPresent()}"
                                       th:text="'Description not set yet'">Description</p>
                                    <h4>Contacts</h4>
                                    <p th:if="${company.getCompanyInfo().isPresent()}"
                                       th:text="${company.getCompanyInfo().get().getContacts()}">Contacts</p>
                                    <p th:unless="${company.getCompanyInfo().isPresent()}"
                                       th:text="'Contacts not set yet'">Contacts</p>
                                </div>
                                <div class="btn-box">
                                    <a class="theme-btn btn-style-one" href="#"
                                       th:href="@{/companies/{id}/profile-update(id=${company.getId()})}">
                                        Edit Company Profile</a>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>