<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Manage Job Openings</title>
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/companies/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/companies/{id}/profile(id=${loggedUser.get().getId()})}"><i class="la la-user-tie"></i>Company Profile</a></li>
                <li class="active"><a href="#"><i class="la la-briefcase"></i> View Employees </a></li>
                <li ><a href="#" th:href="@{/companies/{id}/employees/new(id=${loggedUser.get().getId()})}"><i class="la la-paper-plane"></i> Create New Employee</a>
                <li><a href="#" th:href="@{/companies/{id}/change-password(id=${loggedUser.get().getId()})}"><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="index.html"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Manage Employees </h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Company Employees</h4>

                            </div>

                            <div class="widget-content">
                                <div class="table-outer">
                                    <table class="default-table manage-job-table">
                                        <thead>
                                        <tr >
                                            <th >Employee Name</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="comp : ${compEmployees}">
                                            <td>
                                                <h6 th:text="${comp.getName()}"><a href="#">Employee Name</a></h6>
                                                <ul class="job-info">
                                                </ul>
                                            </td>
                                            <td>
                                                <div class="option-box">
                                                    <ul class="option-list">
                                                        <li>
                                                            <button>
                                                                <a data-text="Delete Employee" href="#"
                                                                   th:href="@{__${#httpServletRequest.requestURI}__/{empId}/delete(empId=${comp.getId()})}"
                                                                   >
                                                                    <span class="la la-trash"></span>
                                                                </a>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>