<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Create Job Opening</title>
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/companies/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/companies/{id}/profile(id=${loggedUser.get().getId()})}"><i class="la la-user-tie"></i>Company Profile</a></li>
                <li><a href="#" th:href="@{/companies/{id}/employees(id=${loggedUser.get().getId()})}"><i class="la la-briefcase"></i> View Employees </a></li>
                <li class="active"><a href="#"><i class="la la-paper-plane"></i> Create New Employee</a>
                </li>
                <li><a href="#" th:href="@{/companies/{id}/change-password(id=${loggedUser.get().getId()})}"><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Company Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Create a new Company Employee Account!</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Employee Information</h4>
                            </div>

                            <div class="widget-content">

                                <div class="post-job-steps">


                                <form class="default-form" th:object="${newEmployee}"
                                      th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
                                    <div class="row">
                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Username</label>
                                            <input name="name" th:field="*{username}" type="text" >
                                            <label class="error" th:errors="*{username}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Password</label>
                                            <input name="name" th:field="*{password}" type="password" >
                                            <label class="error" th:errors="*{password}">Title error placeholder</label>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Email</label>
                                            <input name="name" th:field="*{email}" type="text" >
                                            <label class="error" th:errors="*{email}">Title error placeholder</label>
                                        </div>
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Name</label>
                                            <input name="name" th:field="*{name}" type="text" >
                                            <label class="error" th:errors="*{name}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-12 col-md-12 text-right">
                                            <button class="theme-btn btn-style-one" type="submit">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>