<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Dashboard</title>
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li class="active"><a href="#" th:href="@{/companies/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/companies/{id}/profile(id=${loggedUser.get().getId()})}"><i class="la la-user-tie"></i>Company Profile</a></li>
                <li><a href="#" th:href="@{/companies/{id}/employees(id=${loggedUser.get().getId()})}"><i class="la la-briefcase"></i> View Employees </a></li>
                <li ><a href="#" th:href="@{/companies/{id}/employees/new(id=${loggedUser.get().getId()})}"><i class="la la-paper-plane"></i> Create New Employee</a>
                </li>
                <li><a href="#" th:href="@{/companies/{id}/change-password(id=${loggedUser.get().getId()})}"><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Company Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3 th:text="${'Company: ' + companyDashboard.getName()}"></h3>
                <div class="text">Ready to jump back in?</div>
            </div>
            <div class="row">
                <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item">
                        <div class="left">
                            <i class="icon flaticon-briefcase"></i>
                        </div>
                        <div class="right">
                            <h4 th:text="${companyDashboard.getJobOpenings().size()}" >22</h4>
                            <p>Posted Jobs</p>
                        </div>
                    </div>
                </div>
                <div class="ui-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item ui-red">
                        <div class="left">
                            <i class="icon la la-file-invoice"></i>
                        </div>
                        <div class="right">
                            <h4>52</h4>
                            <p>Applicants</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">





                <div class="col-lg-12">
                    <!-- applicants Widget -->
                    <div class="applicants-widget ls-widget">
                        <div class="widget-title">
                            <h4>Recent Applicants</h4>
                        </div>
                        <div class="widget-content">
                            <div class="row">
                                <!-- Candidate block three -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"><img alt="" src="images/resource/candidate-1.png">
                                            </figure>
                                            <h4 class="name"><a href="#">Darlene Robertson</a></h4>
                                            <ul class="candidate-info">
                                                <li class="designation">UI Designer</li>
                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li><a href="#">App</a></li>
                                                <li><a href="#">Design</a></li>
                                                <li><a href="#">Digital</a></li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button data-text="View Aplication"><span class="la la-eye"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button data-text="Approve Aplication"><span
                                                            class="la la-check"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Reject Aplication"><span
                                                            class="la la-times-circle"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Delete Aplication"><span
                                                            class="la la-trash"></span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Candidate block three -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"><img alt="" src="images/resource/candidate-2.png">
                                            </figure>
                                            <h4 class="name"><a href="#">Wade Warren</a></h4>
                                            <ul class="candidate-info">
                                                <li class="designation">UI Designer</li>
                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li><a href="#">App</a></li>
                                                <li><a href="#">Design</a></li>
                                                <li><a href="#">Digital</a></li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button data-text="View Aplication"><span class="la la-eye"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button data-text="Approve Aplication"><span
                                                            class="la la-check"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Reject Aplication"><span
                                                            class="la la-times-circle"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Delete Aplication"><span
                                                            class="la la-trash"></span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Candidate block three -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"><img alt="" src="images/resource/candidate-3.png">
                                            </figure>
                                            <h4 class="name"><a href="#">Leslie Alexander</a></h4>
                                            <ul class="candidate-info">
                                                <li class="designation">UI Designer</li>
                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li><a href="#">App</a></li>
                                                <li><a href="#">Design</a></li>
                                                <li><a href="#">Digital</a></li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button data-text="View Aplication"><span class="la la-eye"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button data-text="Approve Aplication"><span
                                                            class="la la-check"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Reject Aplication"><span
                                                            class="la la-times-circle"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Delete Aplication"><span
                                                            class="la la-trash"></span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Candidate block three -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"><img alt="" src="images/resource/candidate-1.png">
                                            </figure>
                                            <h4 class="name"><a href="#">Darlene Robertson</a></h4>
                                            <ul class="candidate-info">
                                                <li class="designation">UI Designer</li>
                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li><a href="#">App</a></li>
                                                <li><a href="#">Design</a></li>
                                                <li><a href="#">Digital</a></li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button data-text="View Aplication"><span class="la la-eye"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button data-text="Approve Aplication"><span
                                                            class="la la-check"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Reject Aplication"><span
                                                            class="la la-times-circle"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Delete Aplication"><span
                                                            class="la la-trash"></span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Candidate block three -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"><img alt="" src="images/resource/candidate-2.png">
                                            </figure>
                                            <h4 class="name"><a href="#">Wade Warren</a></h4>
                                            <ul class="candidate-info">
                                                <li class="designation">UI Designer</li>
                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li><a href="#">App</a></li>
                                                <li><a href="#">Design</a></li>
                                                <li><a href="#">Digital</a></li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button data-text="View Aplication"><span class="la la-eye"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button data-text="Approve Aplication"><span
                                                            class="la la-check"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Reject Aplication"><span
                                                            class="la la-times-circle"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Delete Aplication"><span
                                                            class="la la-trash"></span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Candidate block three -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"><img alt="" src="images/resource/candidate-3.png">
                                            </figure>
                                            <h4 class="name"><a href="#">Leslie Alexander</a></h4>
                                            <ul class="candidate-info">
                                                <li class="designation">UI Designer</li>
                                                <li><span class="icon flaticon-map-locator"></span> London, UK</li>
                                                <li><span class="icon flaticon-money"></span> $99 / hour</li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li><a href="#">App</a></li>
                                                <li><a href="#">Design</a></li>
                                                <li><a href="#">Digital</a></li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button data-text="View Aplication"><span class="la la-eye"></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button data-text="Approve Aplication"><span
                                                            class="la la-check"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Reject Aplication"><span
                                                            class="la la-times-circle"></span></button>
                                                </li>
                                                <li>
                                                    <button data-text="Delete Aplication"><span
                                                            class="la la-trash"></span></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>

</html>