<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Companies</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!--Page Title-->
    <section class="page-title">
        <div class="auto-container">
            <div class="title-outer">
                <h1>Companies</h1>
                <ul class="page-breadcrumb">
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li>Companies</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Listing Section -->
    <section class="ls-section">
        <div class="auto-container">
            <div class="filters-backdrop"></div>

            <div class="row">

                <!-- Filters Column -->
                <div class="filters-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column pd-right">
                        <div class="filters-outer">
                            <button class="theme-btn close-filters" type="button">X</button>

                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Search by Keywords</h4>
                                <div class="form-group">
                                    <input name="listing-search" placeholder="Company name"
                                           type="text">
                                    <span class="icon flaticon-search-3"></span>
                                </div>
                            </div>

                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Location</h4>
                                <div class="form-group">
                                    <input name="listing-search" placeholder="City" type="text">
                                    <span class="icon flaticon-map-locator"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="ls-outer">
                        <button class="theme-btn btn-style-two toggle-filters" type="button">Show Filters</button>


                        <div class="row">
                            <!-- Company Block Four -->
                            <div class="company-block-four col-xl-4 col-lg-6 col-md-6 col-sm-12"
                                 th:each="company : ${companies}">
                                <div class="inner-box">
                                    <span class="company-logo" th:if="${company.getCompanyInfo().isPresent()}">
                                        <img alt="logo"
                                             src="../static/images/user-photos/default-company.png"
                                             th:src="${company.getCompanyInfo().get().getPictureUrl()}">
                                    </span>
                                    <span class="company-logo" th:unless="${company.getCompanyInfo().isPresent()}">
                                        <img alt="logo"
                                             src="../static/images/user-photos/default-company.png"
                                             th:src="@{/images/user-photos/default-company.png}">
                                    </span>
                                    <h4><a th:text="${company.getName()}" href="#"
                                           th:href="@{/companies/{id}(id=${company.getId()})}">Company Name</a></h4>
                                    <ul class="job-info">
                                        <li><span class="icon flaticon-map-locator"></span>
                                            <th:block th:if="${company.getCompanyInfo().isPresent()}"
                                                    th:text="${company.getCompanyInfo().get().getLocation().toString()}">
                                                Location
                                            </th:block>
                                            <th:block th:unless="${company.getCompanyInfo().isPresent()}"
                                                      th:text="'Location not set yet'">
                                                Location
                                            </th:block>
                                        </li>
                                    </ul>
                                    <div class="job-type"><span th:text="${company.getJobOpenings().size()}">0 </span>&nbspOpen
                                        Positions
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Pagination -->
                        <nav class="ls-pagination">
                            <ul>
                                <li class="prev"><a th:if ="${currentPage!=1}" th:href="@{'/companies/page/' + ${currentPage-1}}" href="#"><i class="fa fa-arrow-left"></i></a></li>
                                <li  th:each="i: ${#numbers.sequence(1, totalPages)} " >
                                <a  th:class="${currentPage == i} ? current-page"  th:href="@{'/companies/page/' + ${i}}" href="#">[[${i}]]
                                </a>
                                </li>
                                <li class="next"><a th:if ="${totalPages!=currentPage}" th:href="@{'/companies/page/' + ${currentPage+1}}" href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Listing Page Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>

</html>