<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Company Name</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Job Detail Section -->
    <section class="job-detail-section">
        <!-- Upper Box -->
        <div class="upper-box">
            <div class="auto-container">
                <!-- Job Block -->
                <div class="job-block-seven style-three">
                    <div class="inner-box">
                        <div class="content">
                            <span class="company-logo" th:if="${company.getCompanyInfo().isPresent()}"><img alt="logo"
                                                            src="../static/images/user-photos/default-company.png"
                                                            th:src="${company.getCompanyInfo().get().getPictureUrl()}">
                                </span>
                            <span class="company-logo" th:unless="${company.getCompanyInfo().isPresent()}">
                                <img alt="logo"
                                     src="../static/images/user-photos/default-company.png"
                                     th:src="@{/images/user-photos/default-company.png}">
                                </span>
                            <h4 th:text="${company.getName()}">Company Name</h4>
                            <ul class="job-other-info">
                                <li class="time">Open Jobs – <span th:text="${companyJobOpenings.size()}">3</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="job-detail-outer">
            <div class="auto-container">
                <div class="row">
                    <div class="content-column col-lg-8 col-md-12 col-sm-12 order-2">
                        <div class="job-detail">
                            <h4>About Company</h4>
                            <p th:if="${company.getCompanyInfo().isPresent()}" th:text="${company.getCompanyInfo().get().getDescription()}">Description</p>
                            <p th:unless="${company.getCompanyInfo().isPresent()}" th:text="'Company description not set yet.'">Description</p>
                        </div>

                        <!-- Related Jobs -->
                        <div class="related-jobs">
                            <div class="title-box">
                                <h3>Job Openings</h3>
                            </div>

                            <!-- Job Block -->
                            <div class="job-block" th:each="jobOpening : ${companyJobOpenings}">
                                <div class="inner-box">
                                    <div class="content">
                                        <span class="company-logo" th:if="${company.getCompanyInfo().isPresent()}"><img alt="logo"
                                                                        src="../static/images/user-photos/default-company.png"
                                                                        th:src="${company.getCompanyInfo().get().getPictureUrl()}">
                                        </span>
                                        <span class="company-logo" th:unless="${company.getCompanyInfo().isPresent()}">
                                            <img alt="logo"
                                                 src="../static/images/user-photos/default-company.png"
                                                 th:src="@{/images/user-photos/default-company.png}">
                                        </span>
                                        <h4><a th:text="${jobOpening.getName()}" href="#"
                                               th:href="@{/job-openings/{id}(id=${jobOpening.getId()})}">Job Opening Name</a></h4>
                                        <ul class="job-info">
                                            <li><span class="icon flaticon-map-locator"></span>
                                                <th:block th:if="${jobOpening.isRemote()}"> Remote</th:block>
                                                <th:block th:unless="${jobOpening.isRemote()}"
                                                          th:text="${jobOpening.getLocation().toString()}">
                                                    Location
                                                </th:block>
                                            </li>
                                            <li><span class="icon flaticon-clock-3"></span>
                                                <th:block
                                                        th:text="${#temporals.format(jobOpening.getPublishedOn(), 'dd-MM-yyyy HH:mm')}">
                                                    Published on
                                                </th:block>
                                            </li>
                                            <li><span class="icon flaticon-money"></span>
                                                <th:block
                                                        th:text="'$' + ${jobOpening.getMinSalary()} + ' - ' + '$' + ${jobOpening.getMaxSalary()}">
                                                    Salary
                                                </th:block>
                                            </li>
                                        </ul>
                                        <ul class="job-other-info">
                                            <li class="time" th:if="${jobOpening.isActive()}">Active</li>
                                            <li class="time" th:unless="${jobOpening.isActive()}">Archived</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar pd-right">

                            <div class="sidebar-widget company-widget">
                                <div class="widget-content">
                                    <ul class="company-info mt-0">
                                        <li th:if="${company.getCompanyInfo().isPresent()}" th:text="${company.getCompanyInfo().get().getContacts()}">Contacts</li>
                                        <li th:unless="${company.getCompanyInfo().isPresent()}" th:text="'Contacts not set yet'">Contacts</li>
                                        <li>Social media:
                                            <div class="social-links">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="btn-box"><a class="theme-btn btn-style-three" href="#">www.company-website.com</a>
                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Job Detail Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>


</html>