<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Login</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Main Header-->
    <header class="main-header">
        <div class="container-fluid">
            <!-- Main box -->
            <div class="main-box">
                <!--Nav Outer -->
                <div class="nav-outer">
                    <div class="logo-box">
                        <div class="logo"><br/></div>
                    </div>
                </div>

                <div class="outer-box">
                    <!-- Login/Register -->
                    <div class="btn-box">
                        <a href="#" th:href="@{/auth/login-professionals}" class="theme-btn btn-style-three">Professional Login</a>
                        <a href="#" th:href="@{/}" class="theme-btn btn-style-one"><span class="btn-title">Back</span></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Header -->
        <div class="mobile-header">
            <div class="logo"><a href="#" th:href="@{/}">
                <img src="../static/images/logo.svg" th:src="@{/images/logo.svg}" alt="" title=""></a></div>
        </div>

        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->

    <!-- Info Section -->
    <div class="login-section">
        <div class="image-layer" th:style="'background:url('+ @{/images/background/login-photo.jpg} +');'"></div>
        <div class="outer-box">
            <!-- Login Form -->
            <div class="login-form default-form">
                <div class="form-inner">
                    <h3>Login to Job Match</h3>
                    <!--Login Form-->
                    <form action="#" method="post" th:action="@{/auth/login-companies}"
                          th:object="${companyLogin}">

                        <div class="form-group">
                            <div class="btn-box row">
                                <div class="col-lg-6 col-md-12">
                                    <a href="#" th:href="@{/auth/login-employees}" class="theme-btn btn-style-four"></i> Employee Login </a>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <span class="theme-btn btn-style-seven"><i class="la la-briefcase"></i> Company Login </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Username</label>
                            <input name="username" placeholder="Username" required th:field="*{username}" type="text">
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input id="password-field" name="password" value="" placeholder="Password"
                                   th:field="*{password}" type="password">
                        </div>

                        <div class="form-group">
                            <button class="theme-btn btn-style-one" type="submit" name="log-in">Log In</button>
                        </div>
                    </form>

                    <div class="bottom-box">
                        <div class="text">Don't have an account? <a href="#" th:href="@{/auth/register-companies}">Signup</a></div>
                    </div>
                </div>
            </div>
            <!--End Login Form -->
        </div>
    </div>
    <!-- End Info Section -->

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>