<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Job Opening Applications</title>
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#"
                       th:href="@{/companies/{id}/employees/{employeeId}/dashboard(id=${loggedEmployee.get().getCompany().getId()},employeeId =${loggedEmployee.get().getId()})}">
                    <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="#"
                       th:href="@{/companies/{id}/employees/{empId}/profile(id=${loggedEmployee.get().getCompany().getId()},empId =${loggedEmployee.get().getId()})}"><i
                        class="la la-user-tie"></i>My Profile</a></li>
                <li><a href="#"
                       th:href="@{/companies/{id}/job-opening/new(id=${loggedEmployee.get().getCompany().getId()})}"><i
                        class="la la-paper-plane"></i>Create Job Opening</a></li>
                <li><a href="#" th:href="@{/companies/{id}/job-openings/archived(id=${loggedEmployee.get().getCompany().getId()})}"><i class="la la-archive"></i>Archived Jobs</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Job Opening Applications</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">


                <div class="col-lg-12">
                    <!-- applicants Widget -->
                    <div class="applicants-widget ls-widget">
                        <div class="widget-title">
                            <h4>Applications</h4>
                        </div>
                        <div class="widget-content">
                            <div class="row">
                                <!-- Candidate block three -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12"
                                     th:each="appJob : ${applicationsToJobOpening}">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image" th:if="${appJob.getApplication().getProfessional().getProfessionalInfo().isPresent()}">
                                                <img src="../static/images/user-photos/default.png"
                                                     th:src="${appJob.getApplication().getProfessional().getProfessionalInfo().get().getPictureUrl()}" alt="photo">
                                            </figure>
                                            <h4 class="name">
                                                <a th:text="${appJob.getApplication().getProfessional().getFirstName()} + ' ' + ${appJob.getApplication().getProfessional().getLastName()}"
                                                   href="#" th:href="@{/professionals/{id}/profile (id=${appJob.getApplication().getProfessional().getId()})}">
                                                    Professional Name
                                                </a>
                                            </h4>
                                            <ul class="candidate-info">
                                                <li class="designation" th:text="${appJob.getApplication().getName()}">Application Name</li>
                                                <li>
                                                    <span class="icon flaticon-map-locator"> </span>
                                                        <th:block th:if="${appJob.getApplication().isRemote()}"> Remote</th:block>
                                                        <th:block th:unless="${appJob.getApplication().isRemote()}"
                                                                  th:text="${appJob.getApplication().getLocation().toString()}">
                                                            Location
                                                        </th:block>
                                                </li>
                                                <li><span class="icon flaticon-money"></span>
                                                    <th:block
                                                            th:text="'$'+ ${appJob.getApplication().getMinSalary()} + ' - ' +'$'+ ${appJob.getApplication().getMaxSalary()}">
                                                    </th:block>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button>
                                                        <a data-text="View Application" href="#"
                                                           th:href="@{/professionals/{profId}/applications/{appId} (profId=${appJob.getApplication().getProfessional().getId()}, appId=${appJob.getApplication().getId()})}">
                                                            <span class="la la-eye"></span>
                                                        </a>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button>
                                                        <a data-text="Approve Application" href="#"
                                                           th:href="@{__${#httpServletRequest.requestURI}__/{matchId}(matchId=${appJob.getId()})}">
                                                            <span class="la la-check"></span>
                                                        </a>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>

</html>