<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
  <meta charset="utf-8">
  <title>Job Match | Company Profile</title>
</head>

<body>

<div class="page-wrapper dashboard ">

  <!-- Header Span -->
  <span class="header-span"></span>

  <div th:replace="/fragments/header :: header"></div>

  <!-- Sidebar Backdrop -->
  <div class="sidebar-backdrop"></div>

  <!-- User Sidebar -->
  <div class="user-sidebar">

    <div class="sidebar-inner">
      <ul class="navigation">
        <li><a href="#" th:href="@{/companies/{id}/employees/{employeeId}/dashboard(id=${loggedEmployee.get().getCompany().getId()},employeeId =${loggedEmployee.get().getId()})}" > <i class="la la-home"></i> Dashboard</a></li>
        <li class="active"><a href="#" th:href="@{/companies/{id}/employees/{empId}/profile(id=${loggedEmployee.get().getCompany().getId()},empId =${loggedEmployee.get().getId()})}"><i class="la la-user-tie"></i>Company Profile</a>
        </li>
        <li ><a href="#" th:href="@{/companies/{id}/job-opening/new(id=${loggedEmployee.get().getCompany().getId()})}"><i class="la la-paper-plane"></i> Create Job Opening</a>
        </li>
        <li><a href="#" th:href="@{/companies/{id}/job-openings/archived(id=${loggedEmployee.get().getCompany().getId()})}"><i class="la la-archive"></i>Archived Jobs</a></li>
        <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
        <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
      </ul>
    </div>
  </div>
  <!-- End User Sidebar -->

  <!-- Dashboard -->
  <section class="user-dashboard">
    <div class="dashboard-outer">
      <div class="upper-title-box">
        <h3>Employee Profile</h3>
        <div class="text">Ready to jump back in?</div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <!-- Ls widget -->
          <div class="ls-widget">
            <div class="tabs-box">
              <br/>
              <div class="widget-content">
                <div class="candidate-block-five">
                  <div class="inner-box">
                    <div class="content">
                      <figure class="image" th:if="${company.getCompanyInfo().isPresent()}">
                        <img src="../static/images/user-photos/default-company.png"
                             th:src="${company.getCompanyInfo().get().pictureUrl}" alt="logo">
                      </figure>
                      <figure class="image" th:unless="${company.getCompanyInfo().isPresent()}">
                        <img src="../static/images/user-photos/default-company.png"
                             th:src="@{/images/user-photos/default-company.png}" alt="logo">
                      </figure>
                      <h4 class="name"
                          th:text="${employeeEdit.getName()}">
                        Employee Name
                      </h4>
                      <ul class="candidate-info">
                        <li><span class="icon flaticon-email-3"></span>
                          <th:block
                                  th:text="${employeeEdit.getEmail()}">
                            Email
                          </th:block>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="btn-box">
                  <a class="theme-btn btn-style-one" href="#"
                     th:href="@{/companies/{id}/employees/{empId}/profile/update(id=${loggedEmployee.get().getCompany().getId()},empId =${loggedEmployee.get().getId()})}" >
                    Edit Employee Profile</a>
                </div>
                <br/>
              </div>
            </div>
          </div>


        </div>


      </div>
    </div>
  </section>
  <!-- End Dashboard -->

  <!-- Copyright -->
  <div class="copyright-text">
    <p>© 2022 Job Match</p>
  </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>