<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Archived Job Openings</title>
</head>

<body>

<div class="page-wrapper dashboard ">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#"
                       th:href="@{/companies/{id}/employees/{employeeId}/dashboard(id=${loggedEmployee.get().getCompany().getId()},employeeId =${loggedEmployee.get().getId()})}">
                    <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="#"
                       th:href="@{/companies/{id}/employees/{empId}/profile(id=${loggedEmployee.get().getCompany().getId()},empId =${loggedEmployee.get().getId()})}"><i
                        class="la la-user-tie"></i>My Profile</a></li>
                <li><a href="#"
                       th:href="@{/companies/{id}/job-opening/new(id=${loggedEmployee.get().getCompany().getId()})}"><i
                        class="la la-paper-plane"></i>Create Job Opening</a></li>
                <li class="active"><a href="#"
                                      th:href="@{/companies/{id}/job-openings/archived(id=${loggedEmployee.get().getCompany().getId()})}"><i
                        class="la la-archive"></i>Archived Jobs</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Archived Job Openings</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Archived Job Openings List</h4>
                            </div>

                            <div class="widget-content">

                                <div class="tabs-box">
                                    <div class="tabs-content">
                                        <!--Tab-->
                                        <div class="tab active-tab" id="totals">
                                            <div class="row">
                                                <!-- Candidate block three -->
                                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12"
                                                     th:each="companyJobOpening : ${archivedJobOpenings}">
                                                    <div class="inner-box">
                                                        <div class="content">
                                                            <figure class="image"
                                                                    th:if="${companyJobOpening.getCompany().getCompanyInfo().isPresent()}">
                                                                <img alt=""
                                                                     src="../static/images/user-photos/default-company.png"
                                                                     th:src="${companyJobOpening.getCompany().getCompanyInfo().get().getPictureUrl()}">

                                                            </figure>
                                                            <figure class="image"
                                                                    th:unless="${companyJobOpening.getCompany().getCompanyInfo().isPresent()}">
                                                                <img alt=""
                                                                     src="../static/images/user-photos/default-company.png"
                                                                     th:src="@{/images/user-photos/default-company.png}">

                                                            </figure>
                                                            <h4 class="name">
                                                                <a th:text="${companyJobOpening.getName()}" href="#"
                                                                   th:href="@{/job-openings/{id}(id=${companyJobOpening.getId()})}">
                                                                    Job Opening Name
                                                                </a>
                                                            </h4>
                                                            <ul class="candidate-info">
                                                                <li>
                                                                    <span class="icon flaticon-map-locator"> </span>
                                                                    <th:block th:if="${companyJobOpening.isRemote()}">
                                                                        Remote
                                                                    </th:block>
                                                                    <th:block
                                                                            th:unless="${companyJobOpening.isRemote()}"
                                                                            th:text="${companyJobOpening.getLocation().toString()}">
                                                                        Location
                                                                    </th:block>
                                                                </li>
                                                                <li><span class="icon flaticon-money"></span>
                                                                    <th:block
                                                                            th:text="'$'+ ${companyJobOpening.getMinSalary()} + ' - ' +'$'+ ${companyJobOpening.getMaxSalary()}">
                                                                    </th:block>
                                                                </li>
                                                                <li><span class="icon flaticon-clock-3"></span>
                                                                    <th:block
                                                                            th:text="${#temporals.format(companyJobOpening.getPublishedOn(), 'dd-MM-yyyy')}">
                                                                        Published on
                                                                    </th:block>
                                                                </li>
                                                            </ul>
                                                            <ul class="post-tags">
                                                                <li th:if="${companyJobOpening.isActive()}">Active</li>
                                                                <li th:unless="${companyJobOpening.isActive()}">Archived</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>