<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Update Job Opening</title>
</head>

<body>

<div class="page-wrapper dashboard">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li ><a href="#" th:href="@{/companies/{id}/employees/{employeeId}/dashboard(id=${loggedEmployee.get().getCompany().getId()},employeeId =${loggedEmployee.get().getId()})}"> <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/companies/{id}/employees/{empId}/profile(id=${loggedEmployee.get().getCompany().getId()},empId =${loggedEmployee.get().getId()})}"><i class="la la-user-tie"></i>My Profile</a></li>
                <li class="active"><a href="#" th:href="@{/companies/{id}/job-opening/new(id=${loggedEmployee.get().getCompany().getId()})}"><i class="la la-paper-plane"></i>Create Job Opening</a></li>
                <li><a href="#" th:href="@{/companies/{id}/job-openings/archived(id=${loggedEmployee.get().getCompany().getId()})}"><i class="la la-archive"></i>Archived Jobs</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>
        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Update Job Opening</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>Update Job Opening</h4>
                            </div>

                            <div class="widget-content">
                                <form class="default-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                                      th:object="${jobOpening}" method="post">
                                    <div class="row">
                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Position</label>
                                            <input name="name" th:field="*{name}" type="text" >
                                            <label class="error" th:errors="*{name}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12" th:object="${jobOpening}">
                                            <label>City</label>
                                            <select class="chosen-select" th:field="*{location}">
                                                <option th:each="location1 : ${locations}" th:value="${location1.id}"
                                                        th:text="${location1.toString()}"></option>
                                            </select>
                                            <label class="error" th:errors="*{location}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Min Salary</label>
                                            <input name="name"  th:field="*{minSalary}" type="text">
                                            <label class="error" th:errors="*{minSalary}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Max Salary</label>
                                            <input name="name"  th:field="*{maxSalary}"  type="text">
                                            <label class="error" th:errors="*{maxSalary}">Title error placeholder</label>
                                        </div>


                                        <!-- About Professional -->
                                        <div class="form-group col-lg-12 col-md-12">
                                            <label>Description</label>
                                            <textarea  th:field="*{description}"
                                            ></textarea>
                                            <label class="error" th:errors="*{description}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Status</label>
                                            <select class="chosen-select" th:field="*{active}">
                                                <option selected th:text="'Active'" th:value="true">Active</option>
                                                <option th:text="'Archived'" th:value="false">Archived</option>
                                            </select>
                                            <label class="error" th:errors="*{active}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-12 col-md-12">
                                            <button class="theme-btn btn-style-one" type="submit">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>