<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
  <meta charset="utf-8">
  <title>403 FORBIDDEN</title>
</head>

<body>

<div class="page-wrapper">

  <!-- Header Span -->
  <span class="header-span"></span>

  <div th:replace="/fragments/header :: header"></div>

  <!--Page Title-->
  <section class="page-title">
    <div class="auto-container">
      <div class="title-outer">
        <h1>403</h1>
        <h2 class="error" th:text="${error}"></h2>
        <h6>Forbidden</h6>
      </div>
    </div>
  </section>
  <!--End Page Title-->

  <section class="content-elements"><br/><br/><br/></section>

  <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>
</html>