<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <title>Job Match - Find best colleagues to work with</title>
</head>

<body data-anm=".anm">

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Banner Section-->
    <section class="banner-section">
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-7 col-md-12 col-sm-12">
                    <br/>
                    <br/>
                    <br/>
                    <div class="inner-column wow fadeInUp" data-wow-delay="1000ms">
                        <div class="title-box">
                            <h3>There Are <span class="colored" th:text="${jobOpeningsCount}">0</span> Job Openings<br>
                                For you!</h3>
                            <div class="text">Find Jobs, Employment & Career Opportunities</div>
                        </div>
                    </div>
                </div>

                <div class="image-column col-lg-5 col-md-12">
                    <div class="image-box">
                        <figure class="main-image wow fadeIn" data-wow-delay="500ms"><img
                                alt="businesswoman"
                                src="../static/images/resource/banner-img-1.png" th:src="@{/images/resource/banner-img-1.png}"></figure>

                        <!-- Info BLock One -->
                        <div class="info_block anm wow fadeIn" data-speed-x="2" data-speed-y="2"
                             data-wow-delay="1000ms">
                            <span class="icon flaticon-email-3"></span>
                            <p>Get a Notification for <br>a Matching Request</p>
                        </div>

                        <!-- Info BLock Two -->
                        <div class="info_block_two anm wow fadeIn" data-speed-x="1" data-speed-y="1"
                             data-wow-delay="2000ms">
                            <p>Candidates</p>
                            <div class="image"><img alt="Professionals"
                                                    src="../static/images/resource/multi-peoples.png" th:src="@{/images/resource/multi-peoples.png}">
                            </div>
                        </div>

                        <!-- Info BLock Three -->
                        <div class="info_block_three anm wow fadeIn" data-speed-x="4" data-speed-y="4"
                             data-wow-delay="1500ms">
                            <span class="icon flaticon-briefcase"></span>
                            <p>Creative Agency</p>
                            <span class="sub-text">Startup</span>
                            <span class="right_icon fa fa-check"></span>
                        </div>

                        <!-- Info BLock Four -->
                        <div class="info_block_four anm wow fadeIn" data-speed-x="3" data-speed-y="3"
                             data-wow-delay="2500ms">
                            <span class="icon flaticon-file"></span>
                            <div class="inner">
                                <p>Apply Now</p>
                                <span class="sub-text">It only takes a few seconds</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Section-->

    <!-- Fun Fact Section -->
    <section class="fun-fact-section">
        <div class="auto-container">
            <div class="row">
                <!--Column-->
                <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
                    <div class="count-box"><span class="count-text" th:attr="data-stop=${registeredProfessionals}" data-speed="2000">0</span></div>

                    <h4 class="counter-title">Registered Professionals</h4>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="count-box"><span class="count-text" th:attr="data-stop=${registeredCompanies}" data-speed="2000">0</span></div>
                    <h4 class="counter-title">Registered Companies</h4>
                </div>

                <!--Column-->
                <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="count-box"><span class="count-text"th:attr="data-stop=${matchRequestsSize}"  data-speed="2000" data-stop="20">0</span></div>
                    <h4 class="counter-title">Closed Contracts</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- Fun Fact Section -->

    <!-- Job Section -->
    <section class="job-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Latest Job Openings</h2>
                <div class="text">Know your worth and find the job that qualify your life</div>
            </div>

            <div class="row wow fadeInUp"> <!--th:with="isAuthenticated = ${isAuthenticated} and ${loggedUser.isPresent()}"-->
                <!-- Job Block -->
                <div class="job-block col-lg-6 col-md-12 col-sm-12" href="#"
                     th:each="jobOpening,iterStat : ${jobOpeningsByDate}" th:unless="${iterStat.index > 5}">
<!--                     th:style="${isAuthenticated ? 'pointer-events: auto' : 'pointer-events: none'}"-->
                    <div class="inner-box">
                        <div class="content">
                            <span class="company-logo" th:if="${jobOpening.getCompany().getCompanyInfo().isPresent()}">
                                <img alt="logo"
                                     src="../static/images/resource/company-logo/1-1.png"
                                     th:src="${jobOpening.getCompany().getCompanyInfo().get().getPictureUrl()}">
                            </span>
                            <span class="company-logo" th:unless="${jobOpening.getCompany().getCompanyInfo().isPresent()}">
                                <img alt="logo"
                                     src="../static/images/resource/company-logo/1-1.png"
                                     th:src="@{/images/resource/company-logo/1-1.png}">
                            </span>
                            <h4>
                                <a href="#" th:href="@{/job-openings/{id}(id=${jobOpening.getId()})}" th:text="${jobOpening.getName()}">Job Title</a></h4>
                            <ul class="job-info">
<!--                                <li><span class="icon flaticon-briefcase"></span> Category</li>-->
                                <li><span class="icon flaticon-map-locator"></span>
                                    <th:block th:if="${jobOpening.isRemote()}"> Remote</th:block>
                                    <th:block th:unless="${jobOpening.isRemote()}"
                                              th:text="${jobOpening.getLocation().toString()}">
                                        Location
                                    </th:block>
                                </li>
                                <li><span class="icon flaticon-clock-3"></span>
                                    <th:block
                                            th:text="${#temporals.format(jobOpening.getPublishedOn(), 'dd-MM-yyyy')}">
                                        Published on
                                    </th:block>
                                </li>
                                <li><span class="icon flaticon-money"></span>
                                    <th:block
                                            th:text="'$' + ${jobOpening.getMinSalary()} + ' - ' + '$' + ${jobOpening.getMaxSalary()}">
                                        Location
                                    </th:block>
                                </li>
                            </ul>
                            <ul class="job-other-info">
                                <li class="time" th:if="${jobOpening.isActive()}">Active</li>
                                <li class="time" th:unless="${jobOpening.isActive()}">Archived</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-box">
                <a class="theme-btn btn-style-one bg-blue" href="#" th:href="@{/job-openings}"><span class="btn-title">Search More Jobs</span></a>
            </div>
        </div>
    </section>
    <!-- End Job Section -->

    <!-- Top Companies -->
    <section class="top-companies">
        <div class="auto-container">
            <div class="sec-title">
                <h2>Top Companies</h2>
                <div class="text">Some of the companies we've helped recruit excellent applicants over the years.</div>
            </div>

            <div class="carousel-outer wow fadeInUp">

                <div class="companies-carousel owl-carousel owl-theme default-dots">
                    <!-- Company Block -->
                    <div class="company-block" th:each="company,iterStat : ${companies}"
                         th:unless="${iterStat.index > 11}">
                        <div class="inner-box">
                            <figure class="image" th:if="${company.getCompanyInfo().isPresent()}">
                                <img alt="logo" src="../static/images/user-photos/default-company.png"
                                     th:src="${company.getCompanyInfo().get().getPictureUrl()}">
                            </figure>
                            <figure class="image" th:unless="${company.getCompanyInfo().isPresent()}">
                                <img alt="logo" src="../static/images/user-photos/default-company.png"
                                     th:src="@{/images/user-photos/default-company.png}">
                            </figure>
                            <h4 class="name" th:text="${company.getName()}">Company name</h4>
                            <div class="location"><i class="flaticon-map-locator"></i>
                                <th:block th:if="${company.getCompanyInfo().isPresent()}"
                                        th:text="${company.getCompanyInfo().get().getLocation().toString()}">
                                    Location
                                </th:block>
                                <th:block th:unless="${company.getCompanyInfo().isPresent()}"
                                          th:text="'Location not set yet'">
                                    Location
                                </th:block>
                            </div>
                            <a class="theme-btn btn-style-three" href="#" th:href="@{/companies/{id}(id=${company.getId()})}"><span
                                    th:text="${company.getJobOpenings().size()}">0 </span>&nbspOpen Positions</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End Top Companies -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
<script>
    function onProfessionalClick() {
        const loginProfessionalElement = document.getElementById("login-professional");
        const loginCompanyElement = document.getElementById("login-company");
        loginProfessionalElement.style.display = 'block';
        loginCompanyElement.style.display = 'none';
    }

    function onCompanyClick() {
        const loginProfessionalElement = document.getElementById("login-professional");
        const loginCompanyElement = document.getElementById("login-company");
        loginProfessionalElement.style.display = 'none';
        loginCompanyElement.style.display = 'block';
    }
</script>
</body>

</html>