<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Job Openings</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!--Page Title-->
    <section class="page-title">
        <div class="auto-container">
            <div class="title-outer">
                <h1>Find Jobs</h1>
                <ul class="page-breadcrumb">
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li>Job Openings</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Listing Section -->
    <section class="ls-section">
        <div class="auto-container">
            <div class="filters-backdrop"></div>
            <div class="row">

                <!-- Filters Column -->
                <div class="filters-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="filters-outer">
                            <button class="theme-btn close-filters" type="button">X</button>
                            <form class="default-form" action="#"
                                  th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${jobsFilterForm}"
                                  method="post" >
                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Search Job Openings</h4>
                                <div class="form-group">
                                    <input name="name" th:field="*{name}"
                                           placeholder="Job title"
                                           type="text">
                                </div>
                            </div>


                            <!-- Filter Block -->
                            <div class="filter-block">
                                <div class="form-group">
                                    <input name="name" th:field="*{description}"
                                           placeholder="Description"
                                           type="text">
                                </div>
                            </div>

                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Job Opening Status</h4>
                                <div class="form-group">
                                    <select class="chosen-select" th:field="*{isActive}">
                                        <option selected th:value="true">Active</option>
                                        <option th:value="false">Archived</option>
                                    </select>
                                </div>
                            </div>


                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Locations</h4>
                                <div class="form-group">
                                    <select class="chosen-select" th:field="*{location}">
                                        <option selected th:value="null">You may select a location</option>
                                        <option th:each="location1 : ${locations}" th:value="${location1.getId()}"
                                                th:text="${location1.toString()}"></option>
                                    </select>
                                </div>
                            </div>

                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Companies</h4>
                                <div class="form-group">
                                    <select class="chosen-select" th:field="*{company}">
                                        <option selected th:value="null">You may select a company</option>
                                        <option th:each="company1 : ${companies}" th:value="${company1.getId()}"
                                                th:text="${company1.getName()}"></option>
                                    </select>
                                </div>
                            </div>

                            <!-- Filter Block -->
                            <div class="filter-block">
                                <div class="form-group">
                                    <input name="name" th:field="*{minSalary}"
                                           placeholder="Minimum salary"
                                           type="number">
                                </div>
                            </div>

                            <div class="filter-block">
                                <div class="form-group">
                                    <input name="name" th:field="*{maxSalary}"
                                           placeholder="Maximum salary"
                                           type="number">
                                </div>
                            </div>

                            <div class="filter-block">
                                <h4>Sort By</h4>
                                <div class="form-group">
                                    <select class="chosen-select" th:field="*{sortBy}">
                                        <option selected th:value="'date'" th:text="'Date'"></option>
                                        <option th:value="'name'" th:text="'Name'"></option>
                                        <option th:value="'minsalary'" th:text="'Min Salary'"></option>
                                        <option th:value="'maxsalary'" th:text="'Max Salary'"></option>
                                        <option th:value="'location'" th:text="'Location'"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="filter-block">
                                <h4>Sort Order</h4>
                                <div class="form-group">
                                    <select class="chosen-select" th:field="*{sortOrder}">
                                        <option selected th:value="desc" th:text="'Descending'"></option>
                                        <option th:value="asc" th:text="'Ascending'">Sort By</option>
                                    </select>
                                </div>
                            </div>
                                <div class="form-group col-lg-12 col-md-12">
                                    <button type="submit" class="theme-btn btn-style-one" >Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="ls-outer">
                        <button class="theme-btn btn-style-two toggle-filters" type="button">Show Filters</button>



                        <!-- Job Block -->
                        <div class="job-block" th:each="jobOpening : ${jobs}">
                            <div class="inner-box">
                                <div class="content">
                                    <span class="company-logo" th:if="${jobOpening.getCompany().getCompanyInfo().isPresent()}">
                                        <img alt="logo" src="../static/images/user-photos/default-company.png"
                                             th:src="${jobOpening.getCompany().getCompanyInfo().get().getPictureUrl()}">
                                    </span>
                                    <span class="company-logo" th:unless="${jobOpening.getCompany().getCompanyInfo().isPresent()}">
                                        <img alt="logo" src="../static/images/user-photos/default-company.png"
                                             th:src="@{/images/user-photos/default-company.png}">
                                    </span>
                                    <h4><a href="#" th:href="@{/job-openings/{id}(id=${jobOpening.getId()})}"
                                           th:text="${jobOpening.getName()}">Job Opening Name</a>
                                    </h4>
                                    <ul class="job-info">
                                        <li><span class="icon flaticon-map-locator"></span>
                                            <th:block th:if="${jobOpening.isRemote()}"> Remote</th:block>
                                            <th:block th:unless="${jobOpening.isRemote()}"
                                                      th:text="${jobOpening.getLocation().toString()}">
                                                Location
                                            </th:block>
                                        </li>
                                        <li><span class="icon flaticon-clock-3"></span>
                                            <th:block
                                                    th:text="${#temporals.format(jobOpening.getPublishedOn(), 'dd-MM-yyyy HH:mm')}">
                                                Published on
                                            </th:block>
                                        </li>
                                        <li><span class="icon flaticon-money"></span>
                                            <th:block
                                                    th:text="'$' + ${jobOpening.getMinSalary()} + ' - ' + '$' + ${jobOpening.getMaxSalary()}">
                                                Salary
                                            </th:block>
                                        </li>
                                    </ul>
                                    <ul class="job-other-info">
                                        <li class="time" th:if="${jobOpening.isActive()}">Active</li>
                                        <li class="time" th:unless="${jobOpening.isActive()}">Archived</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <nav class="ls-pagination">
                            <ul>
                                <li class="prev"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                <li><a   class="current-page" href="#">1</a></li>
                                <li class="next"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Listing Page Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>

</html>