<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Job Opening Title</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Job Detail Section -->
    <section class="job-detail-section">
        <div class="job-detail-outer">
            <div class="auto-container">
                <div class="row">
                    <div class="content-column col-lg-8 col-md-12 col-sm-12">
                        <div class="job-block-outer">
                            <!-- Job Block -->
                            <div class="job-block-seven">
                                <div class="inner-box">
                                    <div class="content">
                                        <span class="company-logo"
                                              th:if="${jobOpening.getCompany().getCompanyInfo().isPresent()}"><img
                                                alt="logo"
                                                src="../static/images/user-photos/default-company.png"
                                                th:src="${jobOpening.company.getCompanyInfo().get().getPictureUrl()}">
                                        </span>
                                        <span class="company-logo"
                                              th:unless="${jobOpening.getCompany().getCompanyInfo().isPresent()}"><img
                                                alt="logo"
                                                src="../static/images/user-photos/default-company.png"
                                                th:src="@{/images/user-photos/default-company.png}">
                                        </span>
                                        <h4 th:text="${jobOpening.getName()}">Job Opening Name</h4>
                                        <ul class="job-info">
                                            <li><span class="icon flaticon-map-locator"></span>
                                                <th:block th:if="${jobOpening.isRemote()}"> Remote</th:block>
                                                <th:block th:unless="${jobOpening.isRemote()}"
                                                          th:text="${jobOpening.getLocation().toString()}">
                                                    Location
                                                </th:block>
                                            </li>
                                            <li><span class="icon flaticon-clock-3"></span>
                                                <th:block
                                                        th:text="${#temporals.format(jobOpening.getPublishedOn(), 'dd-MM-yyyy HH:mm')}">
                                                    Published on
                                                </th:block>
                                            </li>
                                            <li><span class="icon flaticon-money"></span>
                                                <th:block
                                                        th:text="'$' + ${jobOpening.getMinSalary()} + ' - ' + '$' + ${jobOpening.getMaxSalary()}">
                                                    Salary
                                                </th:block>
                                            </li>
                                        </ul>
                                        <ul class="job-other-info">
                                            <li class="time" th:if="${jobOpening.isActive()}">Active</li>
                                            <li class="time" th:unless="${jobOpening.isActive()}">Archived</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="job-detail">
                            <h4>Job Description</h4>
                            <p th:text="${jobOpening.getDescription()}">Description</p>
                            <h4>Requirements</h4>
                            <ul class="list-style-three" >
                                <li th:each="skill : ${jobOpening.getSkillSet()}">
                                    <th:block th:text="${skill.getKey()} + ' (' + ${skill.getValue()} + ')'">
                                        skill - level
                                    </th:block>
                                </li>
                            </ul>
                            <form class="default-form"  action="#"
                                  th:if="${loggedEmployee.isPresent()} and ${jobOpening.getCompany()} == ${loggedEmployee.get().getCompany()}"
                                  th:action="@{__${#httpServletRequest.requestURI}__/add-skills}"
                                  th:object="${form}" method="post">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12" th:if="${jobOpening.isActive()}">
                                        <label >Add or change existing skill</label>
                                        <select class="chosen-select" th:field="*{skill}">
                                            <option th:each="skill1 : ${skills}" th:value="${skill1}"
                                                    th:text="${skill1}"></option>
                                        </select>
                                        <label class="error" th:errors="*{skill}">Title error placeholder</label>
                                    </div>
                                    <div  th:if="${jobOpening.isActive()}" class="form-group col-lg-6 col-md-12 ">
                                        <label>Skill Level</label>
                                        <select  class="chosen-select" th:field="*{level}">
                                            <option th:each="skillLevel : ${T(com.example.jobmatch.enums.SkillLevel).values()}"
                                                    th:value="${skillLevel}" th:text="${skillLevel}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12"  th:if="${jobOpening.isActive()}">
                                        <button type="submit" class="theme-btn btn-style-one">Update</button>
                                    </div>
                                </div>
                            </form>
                            <br/>
                            <form class="default-form"   action="#"
                                  th:if="${loggedEmployee.isPresent()} and ${jobOpening.getCompany()} == ${loggedEmployee.get().getCompany()}"
                                  th:action="@{__${#httpServletRequest.requestURI}__/remove-skills}"
                                  th:object="${skillRemove}" method="post">
                                <div class="row">
                                    <div class="form-group col-lg-6 col-md-12" th:if="${jobOpening.isActive()}">
                                        <label>Remove existing skill</label>
                                        <select class="chosen-select" th:field="*{skillName}">
                                            <option th:each="skill2 : ${jobOpening.getSkillSet().keySet()}"
                                                    th:value="${skill2.getSkillName()}"
                                                    th:text="${skill2.getSkillName()}"></option>
                                        </select>
                                        <label class="error" th:errors="*{skillName}">Title error
                                            placeholder</label>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12" th:if="${jobOpening.isActive()}">
                                        <button type="submit" class="theme-btn btn-style-one">Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar">
                            <div th:if="${loggedProfessional.isPresent()}
                            and ${loggedProfessional.get().getProfessionalInfo().isPresent()}
                            and ${loggedProfessional.get().getProfessionalInfo().get().isActive()}
                            and ${jobOpening.isActive()} and ${!loggedProfAppliedJobOpenings.get().contains(jobOpening)}">
                                <div class="btn-box">
                                    <a class="theme-btn btn-style-one "
                                       th:href="@{__${#httpServletRequest.requestURI}__/apply}">Apply With Main
                                        Application</a>
                                </div>
                                <p style="float: inside"> OR </p>
                                <form th:action="@{__${#httpServletRequest.requestURI}__/apply-selected}" th:object="${emptyApplication}" method="post">
                                <div class="btn-box">
                                    <select class="chosen-select" th:field="*{application}">
                                        <option th:each="application1 : ${loggedProfessional.get().getApplications()}"
                                                th:if="${application1.applicationStatus} == ${T(com.example.jobmatch.enums.ApplicationStatus).ACTIVE} or
                                                    ${application1.applicationStatus} == ${T(com.example.jobmatch.enums.ApplicationStatus).PRIVATE}"
                                                th:value="${application1.id}"
                                                th:text="${application1.getName()} + ' ' +  ${application1.getMinSalary()} + ' - ' + '$' + ${application1.getMaxSalary()}"></option>
                                    </select>
                                    <label class="error" th:errors="*{application}">Title error placeholder</label>
                                </div>
                                    <div class="btn-box">
                                        <button type="submit" class="theme-btn btn-style-one" >Apply With Selected Application</button>
                                    </div>
                                </form>
                            </div>

                            <div class="sidebar-widget">
                                <!-- Job Overview -->
                                <h4 class="widget-title">Job Overview</h4>
                                <div class="widget-content">
                                    <ul class="job-overview">
                                        <li>
                                            <i class="icon icon-calendar"></i>
                                            <h5>Date Posted:</h5>
                                            <span th:text="${#temporals.format(jobOpening.getPublishedOn(), 'dd-MM-yyyy HH:mm')}">
                                                Published on
                                            </span>
                                        </li>
                                        <li>
                                            <i class="icon icon-location"></i>
                                            <h5>Location:</h5>
                                            <span th:if="${jobOpening.isRemote()}"> Remote</span>
                                            <span th:unless="${jobOpening.isRemote()}"
                                                  th:text="${jobOpening.getLocation().toString()}">
                                                Location
                                            </span>
                                        </li>
                                        <li>
                                            <i class="icon icon-user-2"></i>
                                            <h5>Job Title:</h5>
                                            <span th:text="${jobOpening.getName()}">
                                                Job Opening Name
                                            </span>
                                        </li>
                                        <li>
                                            <i class="icon icon-salary"></i>
                                            <h5>Salary:</h5>
                                            <span th:text="'$' + ${jobOpening.getMinSalary()} + ' - ' + '$' + ${jobOpening.getMaxSalary()}">
                                                $35k - $45k
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sidebar-widget" th:if="${loggedEmployee.isPresent()}
                                        and ${loggedEmployee.get().getCompany().equals(jobOpening.getCompany())}
                                        and ${jobOpening.isActive()}">
                                <h6 class="widget-title">Potential Matches</h6>

                                <form class="default-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__/potential-matches}"
                                      th:object="${thresholdForm}" method="post">

                                    <div class="filter-block">
                                        <i class="icon icon-salary"></i>
                                        <h6>Salary Threshold</h6>
                                        <div class="form-group">
                                            <input name="name" th:field="*{salaryThreshold}"
                                                   placeholder="Salary Threshold %"
                                                   type="number">
                                        </div>
                                        <label class="error" th:errors="*{salaryThreshold}">Title error placeholder</label>
                                    </div>

                                    <div class="filter-block">
                                        <i class="icon skills-percentage"></i>
                                        <h6>Skill Threshold</h6>
                                        <div class="form-group">
                                            <input name="name" th:field="*{skillThreshold}"
                                                   placeholder="Skill Threshold #"
                                                   type="number">
                                        </div>
                                        <label class="error" th:errors="*{skillThreshold}">Title error placeholder</label>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12">
                                        <button type="submit" class="theme-btn btn-style-one">Search for Potential Matches</button>
                                    </div>
                                </form>
                            </div>

                            <div class="sidebar-widget company-widget">
                                <div class="widget-content">
                                    <div class="company-title">
                                        <div class="company-logo"
                                             th:if="${jobOpening.getCompany().getCompanyInfo().isPresent()}"><img
                                                alt="logo"
                                                src="../static/images/user-photos/default-company.png"
                                                th:src="${jobOpening.company.getCompanyInfo().get().getPictureUrl()}">
                                        </div>
                                        <div class="company-logo"
                                             th:unless="${jobOpening.getCompany().getCompanyInfo().isPresent()}">
                                            <img alt="logo" src="../static/images/user-photos/default-company.png"
                                                 th:src="@{/images/user-photos/default-company.png}">
                                        </div>
                                        <h5 class="company-name" th:text="${jobOpening.company.getName()}">Company
                                            Name</h5>
                                        <a class="profile-link" href="#"
                                           th:href="@{/companies/{id}(id=${jobOpening.company.getId()})}">
                                            View company profile
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Job Detail Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>