<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | My Dashboard</title>
</head>

<body>

<div class="page-wrapper dashboard">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/professionals/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i
                        class="la la-home"></i> Dashboard</a></li>
                <li class="active"><a href="#"
                                      th:href="@{/professionals/{id}/profile(id=${loggedUser.get().getId()})}"><i
                        class="la la-user-tie"></i>My Profile</a>
                <!--                <li><a href="ProfessionalCreateApplicationView.html"><i class="la la-file-invoice"></i>My Resume</a>-->
                </li>
                <li><a href="#" th:href="@{/professionals/{profId}/applications(profId=${loggedUser.get().getId()})}"><i
                        class="la la-file-invoice"></i> My Applications </a>
                </li>
                </li>
                <li><a href="#" th:href="@{/professionals/{id}/change-password(id=${loggedUser.get().getId()})}"><i
                        class="la la-lock"></i>Change Password</a></li>

                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="dashboard-delete.html"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>

        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>My Profile</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <br/>
                            <div class="widget-content">
                                <div class="candidate-block-five">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image" th:if="${professional.getProfessionalInfo().isPresent()}">
                                                <img src="../static/images/user-photos/default.png"
                                                     th:src="${professional.professionalInfo.get().getPictureUrl()}" alt="photo">
                                            </figure>
                                            <figure class="image" th:unless="${professional.getProfessionalInfo().isPresent()}">
                                                <img src="../static/images/user-photos/default.png"
                                                     th:src="@{/images/user-photos/default.png}" alt="photo">
                                            </figure>
                                            <h4 class="name"
                                                th:text="${professional.getFirstName()} + ' ' + ${professional.getLastName()}">
                                                Professional Name
                                            </h4>
                                            <ul class="candidate-info">
                                                <li><span class="icon flaticon-map-locator"></span>
                                                    <th:block th:if="${professional.getProfessionalInfo().isPresent()}"
                                                            th:text="${professional.getProfessionalInfo().get().getLocation().toString()}">
                                                        Location
                                                    </th:block>
                                                    <th:block th:unless="${professional.getProfessionalInfo().isPresent()}"
                                                              th:text="'Location not set yet'">
                                                        Location
                                                    </th:block>
                                                </li>
                                                <li><span class="icon flaticon-email-3"></span>
                                                    <th:block
                                                            th:text="${professional.getEmail()}">
                                                        Email
                                                    </th:block>
                                                </li>
                                            </ul>
                                            <ul class="post-tags" th:if="${professional.getProfessionalInfo().isPresent()}">
                                                <li th:if="${professional.getProfessionalInfo().get().isActive()}">Active</li>
                                                <li th:unless="${professional.getProfessionalInfo().get().isActive()}">Busy</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="job-detail">
                                    <h4>Brief Summary</h4>
                                    <p th:if="${professional.getProfessionalInfo().isPresent()}" th:text="${professional.getProfessionalInfo().get().getDescription()}">Description</p>
                                    <p th:unless="${professional.getProfessionalInfo().isPresent()}" th:text="'Description not set yet'">Description</p>
                                </div>
                                <div class="btn-box">
                                    <a class="theme-btn btn-style-one" href="#"
                                       th:href="@{/professionals/{id}/profile-update(id=${professional.getId()})}">
                                        Edit Profile</a>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>