<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Professional Profile</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Candidate Detail Section -->
    <section class="candidate-detail-section">
        <!-- Upper Box -->
        <div class="upper-box">
            <div class="auto-container">
                <!-- Candidate block Five -->
                <div class="candidate-block-five">
                    <div class="inner-box">
                        <div class="content">
                            <figure class="image" th:if="${professional.getProfessionalInfo.isPresent()}">
                                <img alt="photo" src="../static/images/user-photos/default.png"
                                     th:src="${professional.getProfessionalInfo.get().pictureUrl}">
                            </figure>
                            <figure class="image" th:unless="${professional.getProfessionalInfo.isPresent()}">
                                <img alt="photo" src="../static/images/user-photos/default.png"
                                     th:src="../static/images/user-photos/default.png">
                            </figure>
                            <h4 class="name" th:text="${professional.getFirstName() +' '+ professional.getLastName()}">
                                <a href="#">Professional Name</a></h4>
                            <ul class="candidate-info">
                                <li class="designation" th:if="${professional.getMainApplication().isPresent()}"
                                    th:text="${professional.getMainApplication().get().getName()}">
                                    Main Application Name
                                </li>
                                <li><span class="icon flaticon-map-locator"></span>
                                    <th:block th:if="${professional.getProfessionalInfo.isPresent()}"
                                            th:text="${professional.getProfessionalInfo().get().getLocation().toString()}">
                                        Location
                                    </th:block>
                                    <th:block th:unless="${professional.getProfessionalInfo.isPresent()}"
                                              th:text="'Location not set yet'">
                                        Location
                                    </th:block>
                                </li>
                                <li th:if="${professional.getMainApplication().isPresent()}">
                                    <span class="icon flaticon-money"></span>
                                    <th:block
                                            th:text="'$' + ${professional.getMainApplication().get().getMinSalary()} + ' - ' + '$' + ${professional.getMainApplication().get().getMaxSalary()}">
                                        Salary
                                    </th:block>
                                </li>
                                <!--                                <li><span class="icon flaticon-clock"></span> Member Since,Aug 19, 2020</li>-->
                            </ul>
                            <ul class="post-tags" th:if="${professional.getProfessionalInfo().isPresent()}">
                                <li th:if="${professional.getProfessionalInfo().get().isActive()}">Active</li>
                                <li th:unless="${professional.getProfessionalInfo().get().isActive()}">Busy</li>
                            </ul>
                        </div>

                        <div class="btn-box">
                            <a class="theme-btn btn-style-one" href="#"
                               th:if="${professional.getMainApplication().isPresent()}"
                               th:href="@{__${#httpServletRequest.requestURI}__/applications/{id}(id=${professional.getMainApplication().get().getId()})}">
                                View Main Application
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="candidate-detail-outer">
            <div class="auto-container">
                <div class="row">
                    <div class="content-column col-lg-8 col-md-12 col-sm-12">
                        <div class="job-detail">
                            <h4>Brief Summary</h4>
                            <p th:if="${professional.getProfessionalInfo().isPresent()}" th:text="${professional.getProfessionalInfo().get().getDescription()}">Description</p>
                            <p th:unless="${professional.getProfessionalInfo().isPresent()}" th:text="'Description not set yet'">Description</p>
                        </div>
                    </div>

                    <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
                        <aside class="sidebar">
                            <div class="sidebar-widget">
                                <div class="widget-content">
                                    <ul class="job-overview">
                                        <li>
                                            <i class="icon icon-location"></i>
                                            <h5>Location:</h5>
                                            <span th:if="${professional.getProfessionalInfo().isPresent()}"
                                                    th:text="${professional.getProfessionalInfo().get().getLocation().toString()}">
                                                Location
                                            </span>
                                            <span th:unless="${professional.getProfessionalInfo().isPresent()}"
                                                  th:text="'Location not set yet'">
                                                Location
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="sidebar-widget social-media-widget">
                                <h4 class="widget-title">Social media</h4>
                                <div class="widget-content">
                                    <div class="social-links">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>


            </div>
        </div>




    </section>
    <!-- End candidate Detail Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>