<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | My Dashboard</title>
</head>

<body>

<div class="page-wrapper dashboard">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/professionals/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i
                        class="la la-home"></i> Dashboard</a></li>
                <li class="active"><a href="#"
                                      th:href="@{/professionals/{id}/profile(id=${loggedUser.get().getId()})}"><i
                        class="la la-user-tie"></i>My Profile</a>
                </li>
                <!--                <li><a href="ProfessionalCreateApplicationView.html"><i class="la la-file-invoice"></i>My Resume</a>-->
                </li>
                <li><a href="#" th:href="@{/professionals/{profId}/applications(profId=${loggedUser.get().getId()})}"><i
                        class="la la-file-invoice"></i> My Applications </a>
                </li>
                </li>
                <li><a href="#" th:href="@{/professionals/{id}/change-password(id=${loggedUser.get().getId()})}"><i
                        class="la la-lock"></i>Change Password</a></li>

                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="dashboard-delete.html"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>

        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>My Profile</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>My Profile</h4>
                            </div>

                            <div class="widget-content">

                                <div class="uploading-outer">
                                    <div class="uploadButton">
                                        <input accept="image/*, application/pdf" class="uploadButton-input" id="upload"
                                               multiple name="attachments[]" type="file"/>
                                        <label class="uploadButton-button ripple-effect" for="upload">Browse
                                            Logo</label>
                                        <span class="uploadButton-file-name"></span>
                                    </div>
                                    <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable
                                        files are .jpg & .png
                                    </div>
                                </div>

                                <form class="default-form" th:object="${professionalprofile}" action="#" ,
                                      th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
                                    <div class="row">

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>First Name</label>
                                            <input name="name" placeholder="Jerome" th:field="*{firstName}"
                                                   type="text">
                                            <label class="error" th:errors="*{firstName}">Title error
                                                placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Last Name</label>
                                            <input name="name" placeholder="UI Designer" th:field="*{lastName}"
                                                   type="text">
                                            <label class="error" th:errors="*{lastName}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Email address</label>
                                            <input name="name" placeholder="creativelayers" th:field="*{email}"
                                                   type="text">
                                            <label class="error" th:errors="*{email}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12" th:object="${profInfo}">
                                            <label>City</label>
                                            <select class="chosen-select" th:field="*{location}">
                                                <option th:each="location1 : ${locations}" th:value="${location1.id}"
                                                        th:text="${location1.toString()}"></option>
                                            </select>
                                            <label class="error" th:errors="*{location}">Title error placeholder</label>
                                        </div>
                                        <!-- Input -->

                                        <!-- About Professional -->
                                        <div class="form-group col-lg-12 col-md-12" th:object="${profInfo}">
                                            <label>Description</label>
                                            <textarea class="form-control"
                                                      placeholder="" th:field="*{description}"
                                            >
                                            </textarea>
                                            <label class="error" th:errors="*{description}">Title error
                                                placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12" th:object="${profInfo}">
                                            <label>Status</label>
                                            <select class="chosen-select" th:field="*{active}">
                                                <option selected th:text="'Active'" th:value="true">Active</option>
                                                <option th:text="'Busy'" th:value="false">Busy</option>
                                            </select>
                                            <label class="error" th:errors="*{active}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12" style="padding-top: 37px">
                                            <button class="theme-btn btn-style-one" type="submit">Update profile</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">

                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>