<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | My Dashboard</title>
</head>

<body>
<script>
    function matchPassword() {
        var newPassword = document.getElementById("newPass");
        var newPasswordConfirm = document.getElementById("newPassConfirm");
        if (newPassword != newPasswordConfirm) {
            alert("Passwords did not match");
        }
    }
</script>
<div class="page-wrapper dashboard">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/professionals/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i
                        class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/professionals/{id}/profile(id=${loggedUser.get().getId()})}"><i
                        class="la la-user-tie"></i>My Profile</a></li>
                <li><a href="#" th:href="@{/professionals/{profId}/applications(profId=${loggedUser.get().getId()})}"><i
                        class="la la-file-invoice"></i> My Applications </a>
                </li>
                <li class="active"><a href="#"><i class="la la-lock"></i>Change
                    Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>

        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Change Password</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <!-- Ls widget -->
            <div class="ls-widget">
                <div class="widget-title">
                    <h4>Change Password</h4>
                </div>

                <div class="widget-content">
                    <form class="default-form" th:action="@{__${#httpServletRequest.requestURI}__}"
                          th:object="${passwordChange}" method="post">

                        <div class="row">
                            <!-- Input -->
                            <div class="form-group col-lg-7 col-md-12" >
                                <label>Old Password </label>
                                <input name="oldPassword" placeholder="" type="password" th:field="*{oldPassword}">
                                <label class="error" th:errors="*{oldPassword}">Title error placeholder</label>

                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-7 col-md-12">
                                <label>New Password</label>
                                <input name="newPass" placeholder="" type="password" th:field="*{newPassword}">
                                <label class="error" th:errors="*{newPassword}">Title error placeholder</label>
                            </div>

                            <!-- Input -->
                            <div class="form-group col-lg-7 col-md-12">
                                <label>Confirm Password</label>
                                <input name="newPassConfirm" placeholder="" type="password"
                                       th:field="*{newPasswordConfirmation}">
                                <label class="error" th:errors="*{newPasswordConfirmation}">Title error placeholder
                                </label>
                            </div>
                            <!-- Input -->
                            <div class="form-group col-lg-6 col-md-12">
                                <button class="theme-btn btn-style-one" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>