<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Create Application</title>
</head>

<body>

<div class="page-wrapper dashboard">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/professionals/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/professionals/{id}/profile(id=${loggedUser.get().getId()})}"><i class="la la-user-tie"></i>My Profile</a></li>
                <li><a href="#" th:href="@{/professionals/{profId}/applications(profId=${loggedUser.get().getId()})}"><i class="la la-file-invoice"></i> My Applications </a>
                </li>
                </li>
                <li><a href="#" th:href="@{/professionals/{id}/change-password(id=${loggedUser.get().getId()})}"><i class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>

        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Create New Application</h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>My Application</h4>
                            </div>

                            <div class="widget-content">
                                <form class="default-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${newapplication}" method="post">
                                    <div class="row">
                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Application Name</label>
                                            <input name="name" th:field="*{name}" type="text" >
                                            <label class="error" th:errors="*{name}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12" th:object="${newapplication}">
                                            <label>City</label>
                                            <select class="chosen-select" th:field="*{location}">
                                                <option th:each="location1 : ${locations}" th:value="${location1.id}"
                                                        th:text="${location1.toString()}"></option>
                                            </select>
                                            <label class="error" th:errors="*{location}">Title error placeholder</label>
                                        </div>

                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Min Salary</label>
                                            <input name="name"  th:field="*{minSalary}" type="text">
                                            <label class="error" th:errors="*{minSalary}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Max Salary</label>
                                            <input name="name"  th:field="*{maxSalary}"  type="text">
                                            <label class="error" th:errors="*{maxSalary}">Title error placeholder</label>
                                        </div>

                                        <!-- About Professional -->
                                        <div class="form-group col-lg-12 col-md-12">
                                            <label>Description</label>
                                            <textarea  th:field="*{description}"
                                            ></textarea>
                                            <label class="error" th:errors="*{description}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-6 col-md-12">
                                            <label>Status</label>

                                            <select class="chosen-select" th:field="*{applicationStatus}">
                                                <option selected th:text="'Active'" th:value="${T(com.example.jobmatch.enums.ApplicationStatus).ACTIVE}">Active</option>
                                                <option th:text="'Hidden'" th:value="${T(com.example.jobmatch.enums.ApplicationStatus).HIDDEN}">Active</option>
                                                <option th:text="'Private'" th:value="${T(com.example.jobmatch.enums.ApplicationStatus).PRIVATE}">Active</option>
                                            </select>
                                            <label class="error" th:errors="*{applicationStatus}">Title error placeholder</label>
                                        </div>

                                        <!-- Input -->
                                        <div class="form-group col-lg-12 col-md-12">
                                            <button class="theme-btn btn-style-one" type="submit">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>