<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | My Dashboard</title>
</head>

<body>

<div class="page-wrapper dashboard">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li class="active"><a href="#"
                                      th:href="@{/professionals/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i
                        class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/professionals/{id}/profile(id=${loggedUser.get().getId()})}"><i
                        class="la la-user-tie"></i>My Profile</a></li>
                <li><a href="#" th:href="@{/professionals/{profId}/applications(profId=${loggedUser.get().getId()})}"><i
                        class="la la-file-invoice"></i> My Applications </a>
                </li>
                <li><a href="#" th:href="@{/professionals/{id}/change-password(id=${loggedUser.get().getId()})}"><i
                        class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>

        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3 th:text="${professionaldashboard.getFirstName() +' ' + professionaldashboard.getLastName()}"></h3>
                <div class="text">Ready to jump back in?</div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item">
                        <div class="left">
                            <i class="icon flaticon-briefcase"></i>
                        </div>
                        <div class="right">
                            <h4 th:text="${professionalApplications}">22</h4>
                            <p>Total Applications</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="ui-item ui-red">
                        <div class="left">
                            <i class="icon la la-file-invoice"></i>
                        </div>
                        <div class="right">
                            <h4 th:text="${professionalAppCount}"></h4>
                            <p>Applied Jobs</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">


                <div class="col-lg-12">
                    <!-- applicants Widget -->
                    <div class="applicants-widget ls-widget">
                        <div class="widget-title">
                            <h4>Job Offers</h4>
                        </div>
                        <div class="widget-content">
                            <div class="row">
                                <!-- Job Block -->
                                <div class="candidate-block-three col-lg-6 col-md-12 col-sm-12"
                                     th:each="offer : ${professionaldashboard.getJobOffers()}">
                                    <div class="inner-box">
                                        <div class="content">
                                            <figure class="image"
                                                    th:if="${offer.getKey().getJobOpening().getCompany().getCompanyInfo().isPresent()}">
                                                <img alt="" src="../static/images/user-photos/default-company.png"
                                                     th:src="${offer.getKey().getJobOpening().getCompany().getCompanyInfo().get().getPictureUrl()}">
                                            </figure>
                                            <figure class="image"
                                                    th:unless="${offer.getKey().getJobOpening().getCompany().getCompanyInfo().isPresent()}">
                                                <img alt=""
                                                     src="../static/images/user-photos/default-company.png"
                                                     th:src="@{/images/user-photos/default-company.png}">
                                            </figure>
                                            <h4 class="name" th:text="${offer.getKey().getJobOpening().getName()}">
                                                    Job Opening Name
                                            </h4>
                                            <ul class="candidate-info">
                                                <li>
                                                    <span class="icon flaticon-map-locator"> </span>
                                                    <th:block th:if="${offer.getKey().getJobOpening().isRemote()}"> Remote</th:block>
                                                    <th:block th:unless="${offer.getKey().getJobOpening().isRemote()}"
                                                              th:text="${offer.getKey().getJobOpening().getLocation().toString()}">
                                                        Location
                                                    </th:block>
                                                </li>
                                                <li><span class="icon flaticon-money"></span>
                                                    <th:block
                                                            th:text="'$'+ ${offer.getKey().getJobOpening().getMinSalary()} + ' - ' +'$'+ ${offer.getKey().getJobOpening().getMaxSalary()}">
                                                    </th:block>
                                                </li>
                                                <li><span class="icon flaticon-clock-3"></span>
                                                    <th:block
                                                            th:text="${#temporals.format(offer.getKey().getJobOpening().getPublishedOn(), 'dd-MM-yyyy')}">
                                                        Published on
                                                    </th:block>
                                                </li>
                                            </ul>
                                            <ul class="post-tags">
                                                <li th:if="${offer.getValue()}">Accepted</li>
                                                <li th:unless="${offer.getValue()}">Pending</li>
                                                <li th:if="${!offer.getValue()} and ${!offer.getKey().getJobOpening().isActive()}">Archived</li>
                                            </ul>
                                        </div>
                                        <div class="option-box">
                                            <ul class="option-list">
                                                <li>
                                                    <button>
                                                        <a data-text="View Job Opening" href="#"
                                                           th:href="@{/job-openings/{id}(id=${offer.getKey().getJobOpening().getId()})}">
                                                            <span class="la la-eye"></span>
                                                        </a>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button th:if="${loggedUser.get().equals(professionaldashboard)}
                                                        and ${professionaldashboard.getProfessionalInfo().isPresent()}
                                                        and ${professionaldashboard.getProfessionalInfo().get().isActive()}">
                                                        <a data-text="Accept Offer" href="#"
                                                           th:href="@{/professionals/{profId}/offers/{matchId}/accept(profId=${loggedUser.get().getId()},matchId =${offer.getKey().getId()})}">
                                                            <span class="la la-check"></span>
                                                        </a>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>

</html>