<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | My Dashboard</title>
</head>

<body>

<div class="page-wrapper dashboard">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!-- Sidebar Backdrop -->
    <div class="sidebar-backdrop"></div>

    <!-- User Sidebar -->
    <div class="user-sidebar">

        <div class="sidebar-inner">
            <ul class="navigation">
                <li><a href="#" th:href="@{/professionals/{id}/dashboard(id=${loggedUser.get().getId()})}"> <i
                        class="la la-home"></i> Dashboard</a></li>
                <li><a href="#" th:href="@{/professionals/{id}/profile(id=${loggedUser.get().getId()})}"><i
                        class="la la-user-tie"></i>My Profile</a></li>
                <li class="active"><a href="#"><i class="la la-file-invoice"></i>
                    My Applications </a></li>
                <li><a href="#" th:href="@{/professionals/{id}/change-password(id=${loggedUser.get().getId()})}"><i
                        class="la la-lock"></i>Change Password</a></li>
                <li><a href="#" th:href="@{/auth/logout}"><i class="la la-sign-out"></i>Logout</a></li>
                <li><a href="#"><i class="la la-trash"></i>Delete Profile</a></li>
            </ul>

        </div>
    </div>
    <!-- End User Sidebar -->

    <!-- Dashboard -->
    <section class="user-dashboard">
        <div class="dashboard-outer">
            <div class="upper-title-box">
                <h3>Manage Applications </h3>
                <div class="text">Ready to jump back in?</div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- Ls widget -->
                    <div class="ls-widget">
                        <div class="tabs-box">
                            <div class="widget-title">
                                <h4>My Applications</h4>

                                <div class="chosen-outer">
                                    <!--Tabs Box-->
                                    <select class="chosen-select">
                                        <option>All Applications</option>
                                        <option>Active Applications</option>
                                        <option>Hidden Applications</option>
                                        <option>Private Applications</option>
                                        <option>Matched Applications</option>
                                    </select>
                                </div>
                            </div>

                            <div class="widget-content">
                                <div class="table-outer">
                                    <table class="default-table manage-job-table">
                                        <thead>
                                        <tr>
                                            <th>Application Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="prof : ${appProf}">
                                            <td>
                                                <h6 th:text="${prof.getName()}"><a href="#">Application Name</a></h6>
                                                <ul class="job-info">
                                                    <li><span class="icon flaticon-map-locator"></span>
                                                        <th:block
                                                                th:text="${prof.getLocation().toString()}">
                                                            Location
                                                        </th:block>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="status" th:text="${prof.getApplicationStatus()}">Status</td>
                                            <td>
                                                <div class="option-box">
                                                    <ul class="option-list">
                                                        <li>
                                                            <button>
                                                                <a data-text="View Application" href="#"
                                                                   th:href="@{__${#httpServletRequest.requestURI}__/{id}(id=${prof.getId()})}">
                                                                    <span class="la la-eye"></span>
                                                                </a>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button>
                                                                <a data-text="Update Application" href="#"
                                                                   th:href="@{__${#httpServletRequest.requestURI}__/{id}/update(id=${prof.getId()})}">
                                                                    <span class="la la-pencil"></span>
                                                                </a>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button>
                                                                <a data-text="Delete Application" href="#"
                                                                   th:href="@{__${#httpServletRequest.requestURI}__/{id}/delete(id=${prof.getId()})}">
                                                                    <span class="la la-trash"></span>
                                                                </a>
                                                            </button>
                                                        </li>
                                                        <li th:if="${prof.getApplicationStatus() == T(com.example.jobmatch.enums.ApplicationStatus).ACTIVE}"
                                                            th:unless="${prof.professional.getMainApplication().get() == prof}">
                                                            <button>
                                                                <a data-text="Set Application as Main" href="#"
                                                                   th:href="@{__${#httpServletRequest.requestURI}__/{id}/main(id=${prof.getId()})}">
                                                                    <span class="la la-address-card"></span>
                                                                </a>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Dashboard -->

    <!-- Copyright -->
    <div class="copyright-text">
        <p>© 2022 Job Match</p>
    </div>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>
</body>

</html>

