<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragments/resources :: resources">
    <meta charset="utf-8">
    <title>Job Match | Professionals</title>
</head>

<body>

<div class="page-wrapper">

    <!-- Header Span -->
    <span class="header-span"></span>

    <div th:replace="/fragments/header :: header"></div>

    <!--Page Title-->
    <section class="page-title">
        <div class="auto-container">
            <div class="title-outer">
                <h1>Showing All Professionals</h1>
                <ul class="page-breadcrumb">
                    <li><a href="#" th:href="@{/}">Home</a></li>
                    <li>Professionals</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Listing Section -->
    <section class="ls-section">
        <div class="auto-container">
            <div class="filters-backdrop"></div>

            <div class="row">

                <!-- Filters Column -->
                <div class="filters-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column pd-right">
                        <div class="filters-outer">
                            <button class="theme-btn close-filters" type="button">X</button>

                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Search by Keywords</h4>
                                <div class="form-group">
                                    <input name="listing-search" placeholder="Professional name"
                                           type="text">
                                    <span class="icon flaticon-search-3"></span>
                                </div>
                            </div>

                            <!-- Filter Block -->
                            <div class="filter-block">
                                <h4>Location</h4>
                                <div class="form-group">
                                    <input name="listing-search" placeholder="City" type="text">
                                    <span class="icon flaticon-map-locator"></span>
                                </div>
                                <div class="range-slider-one">
                                    <div class="area-range-slider"></div>
                                    <div class="input-outer">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Content Column -->
                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    <div class="ls-outer">
                        <button class="theme-btn btn-style-two toggle-filters" type="button">Show Filters</button>



                        <!-- Candidate block three -->
                        <div class="candidate-block-three" th:each="professional : ${professionals}">
                            <div class="inner-box">
                                <div class="content">
                                    <figure class="image" th:if="${professional.getProfessionalInfo().isPresent()}">
                                        <img alt="photo"
                                             src="../static/images/user-photos/default.png" th:src="${professional.getProfessionalInfo().get().getPictureUrl()}">
                                    </figure>
                                    <figure class="image" th:unless="${professional.getProfessionalInfo().isPresent()}">
                                        <img alt="photo"
                                             src="../static/images/user-photos/default.png" th:src="@{/images/user-photos/default.png}">
                                    </figure>
                                    <h4 class="name">
                                        <a th:text="${professional.getFirstName() +' '+ professional.getLastName()}"
                                       >Professional Name</a>
                                    </h4>
                                    <ul class="candidate-info">
                                        <li><span class="icon flaticon-map-locator"></span>
                                            <th:block th:if="${professional.getProfessionalInfo().isPresent()}"
                                                    th:text="${professional.getProfessionalInfo().get().getLocation().toString()}">
                                                Location
                                            </th:block>
                                            <th:block th:unless="${professional.getProfessionalInfo().isPresent()}"
                                                      th:text="Location unknown">
                                                Location
                                            </th:block>
                                        </li>
                                        <li><span class="icon flaticon-money"></span>
                                            <th:block
                                                    th:text="'$' + ${professional.getMainApplication().get().getMinSalary()} + ' - ' + '$' + ${professional.getMainApplication().get().getMaxSalary()}">
                                                Salary
                                            </th:block>
                                        </li>
                                    </ul>
                                    <ul class="post-tags" th:if="${professional.getProfessionalInfo().isPresent()}">
                                        <li th:if="${professional.getProfessionalInfo().get().isActive()}">Active</li>
                                        <li th:unless="${professional.getProfessionalInfo().get().isActive()}">Busy</li>
                                    </ul>
                                </div>
                                <div class="btn-box">
                                    <a class="theme-btn btn-style-three" href="#"
                                       th:href="@{/professionals/{id}(id=${professional.getId()})}">
                                        <span
                                            class="btn-title">View Profile
                                        </span></a>
                                </div>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <nav class="ls-pagination">
                            <ul>
                                <li class="prev"><a href="#"><i class="fa fa-arrow-left"></i></a></li>
                                <li><a  class="current-page" href="#">1</a></li>
                                <li><a  href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="next"><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Listing Page Section -->

    <footer th:replace="/fragments/footer :: footer"></footer>

</div><!-- End Page Wrapper -->

<div th:replace="/fragments/scripts :: scripts"></div>

</body>

</html>